{% extends "base2.html" %}
{% block app_content %}
<!---https://stackoverflow.com/questions/24175998/meaning-of-numbers-in-col-md-4-col-xs-1-col-lg-2-in-bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1><span class="glyphicon glyphicon-flash"></span>{{ title}}</h1>
    
<link rel="stylesheet" href="/static/style_slider.css">
<body>
{% for place,state in dic.items()|sort: %}
  <div class="row">
          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                          
                          <h2 id="textoreloco"   style="vertical-align: text-top;margin-top: 5px;"> {{place}}</h2>
                          
                  </div>
                    <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-right: 0px;">
                              <div class="onoffswitch">
                                  {%if state['State']==True:%}
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{place}}" value="On" checked>
                                  {%else:%}
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{place}}" value="Off" >
                                  {%endif%}
                                  <label class="onoffswitch-label" for="myonoffswitch{{place}}"></label>
                              </div>
                    </div> 
                         
          </div>
    <div class="alert alert-success" role="alert" id="activatechange{{place}}" style="display:none;"> Changes were made madafaca!</div>
          {%if state['State'] == True:%}
          <div class="row" id="prendeapaga{{place}}" style="display:show;">
          {%else:%}
          <div class="row" id="prendeapaga{{place}}" style="display:none;">
          {%endif%}
            <form action="{{ url_for('set_lights') }}" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
            <div class="form-group">
              <input type="text" style="display:none;"  id="statevalue{{place}}" name="statevalue" value="{{state['State']}}">
              <input type="text" style="display:none;"  name="place_str" value="{{place}}">
             
                <label for="temp">Set Desired Light </label>
                <div class="slidecontainer">
                <input type="range" min="0" max="100" value="{{state['Intensity']}}" class="slider" id="myRange{{place}}" name="set_point_light">
                <b><p>Value: <span id="demo{{place}}"></span></p></b> 
        </div>
    </div>

    <div class="=row">
      <div class="='col-md-12">
        <div class="form-group">
       <!-- <button type="submit" id="submit"class="btn btn-primary">Register Light</button> -->
        <input class="btn btn-primary" id="submit{{place}}" value="Register Light">
      </div>
        </div>

      </div>
            </form>
    
  </div>
  {% endfor %}


    

</body>
<script>
{% for place,state in dic.items()|sort: %}
var slider{{place}} = document.getElementById("myRange{{place}}");

var output{{place}} = document.getElementById("demo{{place}}");
output{{place}}.innerHTML = slider{{place}}.value;

slider{{place}}.oninput = function() {
  output{{place}}.innerHTML = this.value;
    
}
$(document).ready(function(){
    $("#myonoffswitch{{place}}").click(function(){
        $("#prendeapaga{{place}}").toggle(500);
      if ($("#myonoffswitch{{place}}").val()=='On'){$("#myonoffswitch{{place}}").val('Off');$("#statevalue{{place}}").val('False');$.post("{{ url_for('set_lights') }}",{"place": '{{place}}','state':'False','set_point':$("#myRange{{place}}").val()});}
      else{$("#myonoffswitch{{place}}").val('On');$("#statevalue{{place}}").val('True');$.post("{{ url_for('set_lights') }}",{"place": '{{place}}','state': 'True','set_point':$("#myRange{{place}}").val()});}

         });
});

$(document).ready(function(){
    $("#submit{{place}}").click(function(){$.post("{{ url_for('set_lights') }}",{"place": '{{place}}','state': 'True','set_point':$("#myRange{{place}}").val()}).done(function() {$("#activatechange{{place}}").fadeIn('slow').delay(1000).fadeOut('slow');
    // success callback
});
      }


      )});
    

{% endfor %}


</script>
{% endblock %}


