
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block app_content %}
<!---https://stackoverflow.com/questions/24175998/meaning-of-numbers-in-col-md-4-col-xs-1-col-lg-2-in-bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1">
    <h1><span class="glyphicon glyphicon-tasks"></span>{{ title}}</h1>
    
    <div class="row">
        <div class="col-md-6">
            <form action="{{ url_for('setparameters') }}" method="POST"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
            <div class="form-group">
                <b><p>Current Temp: {{current_temp}}</p></b>
                <b><p>Current Set Point: {{current_temp_set_point}}</p></b>
                <label for="temp">Temperature</label>

                <input type="number" class="form-control" min="18.0" max="32.0" step="0.5"  placeholder="Insert Temperature" id="temp" name="set_temp" required>
            </div>
        </div>
    </div>

    <div class="=row">
    	<div class="='col-md-12">
    		<div class="form-group">
				<button type="submit" class="btn btn-primary">Register Temperature</button>
			</div>
        </div>

    	</div>
            </form>
    </div>
    
{% endblock %}