 .dropdown-container-pitu {
    display: none;

	}
	.index {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    text-decoration: none;
    font-family: inherit;
    font-size: 30px;
    color: inherit;
    display: block;
    transition: 0.0s;

    border: none;
    background: none;

    width: 100%;

    text-align: left;
    cursor: pointer;
    outline: none;
	}