{% extends "base2.html" %}
{% block app_content %}
<link rel="stylesheet" href="/static/index_y_remove_device.css">
<link rel="stylesheet" href="/static/style_slider.css">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> <!-- arregla el tema del zoom en el modal, la romi toda -->

{%if flag==1%}
 <table class="table">
    <tbody>

{% for k,v in new_devices.items()|sort: %}
<tr><td>
    
    	
	    	  <div class="row" >
	          <div class="col-xs-10 " style="display: flex;justify-content: flex-start;padding-left: 15px;">
	                          
	                          <h3 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;">{{k}}</h3>
	                          
	          </div>
            <div class="col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;padding-top: 9px;">

              <span class="glyphicon glyphicon-menu-right editdevice" onclick='' data-location="{{k}}"  data-dev_type="{{v.dev_type}}" ></span>
	  </div>
    	</div>

</td></tr>
    {%endfor%}
</tbody></table>



    <div class="modal fade" id="modaladdevent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <center><h4 class="modal-title" id="myModalLabel">New Device</h4></center>
            </div>

            <!-- Modal Body -->
       <div class="modal-body">
                
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                    <label for="device_location">Location</label>
                      <input type="text" class="form-control" id="device_location" name="location" value="Location" onfocus="if (this.value=='Location') this.value='';"/>
                  </div>

                  <div class="form-group">
                    <label for="device_name">Name</label>
                      <input type="text" class="form-control" id="device_name" name="name" value="Name" onfocus="if (this.value=='Name') this.value='';"/ >
                  </div>

                  <div class="form-group" style="display: none;" > <input type="text" id="dataplaceradd" name="dataplace" value="" data-dev_type="" data-location='' / ></div>

                <div class="row">
                          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 20px;">
                                  
                                 <h5 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;">  <b>On/Off</b></h5>
                                  
                          </div>

                            <div class="col-xs-6" style="display: flex;justify-content: flex-end;" >
                              <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="Off" >
                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                              </div>
                            </div>
                  </div>

                  <div class="row" id="prendeapaga" style="display:none;padding-left: 20px;">
                        <form action="" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
                              <div class="form-group">
                                          <input type="text" style="display:none;"  id="statevalue" name="statevalue" value="0">
                                          <div class="row">
                                                <div class="col-xs-9">
                                                  <div class="slidecontainer" style="padding-top: 26px;">
                                                      <input type="range" min="0" max="100" step="5" value="0" class="slider" id="myRange" name="set_point">
                                                  </div>
                                                </div>
                                                <div class="col-xs-3" style="display: flex;justify-content: center;">
                                                    <b><h3><span id="demo"></span>%</h3></b> 
                                                </div>
                                        </div>

                            </div>
                    </form>
                  </div>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="submit_changes" class="btn btn-primary" >Add Device</button>
                </form>
              </div>





        </div>
    </div>
</div>




{%else%}

<row id="no_scheduled_events">
 <center><h2>No new devices were found <span class="glyphicon glyphicon-thumbs-down"></span></h2></center>
</row>





{%endif%}


 <script>

    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() { output.innerHTML = this.value;}



      $("#myonoffswitch").click(function(){
                                          if ($("#myonoffswitch").val()=='On'){
                                          	$("#myonoffswitch").val('Off');
                                          	$("#statevalue").val('False');
                                          	
                                          	$("#prendeapaga").attr("style","display:none;padding-left: 20px;");
                                          }
                                          else{

                                          	$("#myonoffswitch").val('On');
                                          	$("#statevalue").val('True');
                                          	if ($("#dataplaceradd").val() == 'False'){
                                          	$("#prendeapaga").attr("style","display:block;padding-left: 20px;");
                                          }
                                          }

                                             });
      
      $(document).on("click","span.editdevice",function(){
      													if ($("#myonoffswitch").val()=='On'){
      														$("#prendeapaga").attr("style","display:none;padding-left: 20px;");
      														$("#myonoffswitch").click();}

                                                        var location = $(this).data('location');
                                                        var dev_type = $(this).data('dev_type');

                                                        $("#dataplaceradd").val(dev_type);
                                                        $("#dataplaceradd").data('data-old_location',location);
														$('#modaladdevent').modal('show');
                                                          
        });


      $("#submit_changes").click(function(){


        $.post("{{ url_for('edit_device') }}",{'old_location':$("#dataplaceradd").data('old_location'),'old_str_id':$("#dataplaceradd").data('old_str_id'),'new_location':$("#device_location").val(),'new_str_id': $("#device_name").val() ,'state':$("#myonoffswitch").val(),'set_point':$("#myRange").val()}).done(function(result) {

          if(result['status']==200){
            console.log('200')

            if ($("#answer_message").hasClass('alert alert-danger')){console.log('que onda')
                                                                      $("#answer_message").removeClass("alert alert-danger");
                                                                      $("#answer_message").addClass("alert alert-success");}}
          else
          {if ($("#answer_message").hasClass('alert alert-success')){console.log('ki')
                                                                      $("#answer_message").removeClass("alert alert-success");
                                                                      $("#answer_message").addClass("alert alert-danger");}}

          $("#answer_message").text(result['message']);
          //$("#answer_message").fadeIn('slow').delay(2000).fadeOut('slow');
          location.reload(true);
        });
        $('#modaladdevent').modal('hide');
      });
    </script>

{% endblock %}