{% extends "base2.html" %}
{% block app_content %}
<link rel="stylesheet" href="/static/index_y_remove_device.css">
<link rel="stylesheet" href="/static/style_slider.css">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> <!-- arregla el tema del zoom en el modal, la romi toda -->

<link rel="stylesheet" type="text/css" href="/static/bootstrap-select-master/bootstrap-select-master/dist/css/bootstrap-select.min.css"/>
<script type="text/javascript" src="/static/bootstrap-select-master/bootstrap-select-master/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/bootstrap32.min.js"></script>

{%if g.flag==1 %}



{%if new_switches!=None%}
<h3>Switches</h3>
 <table class="table">
    <tbody>

{% for k,v in new_switches.items()|sort: %}
<tr><td>
    
      
          <div class="row" >
            <div class="col-xs-10 " style="display: flex;justify-content: flex-start;padding-left: 15px;">
                            
                            <h3 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;">Switch {{k}}</h3>
                            
            </div>
            <div class="col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;padding-top: 9px;">


              <span class="glyphicon glyphicon-menu-right editswitch" onclick='' data-location="{{k}}" data-tactil_switch="{{v.tactil_switch}}" data-handles="{{v.handles}}" data-dev_type="{{v.dev_type}}" data-mac_address={{v.mac_address}} data-presence_state="{{v.presence_state}}" data-online="{{v.online}}"></span>
    </div>
      </div>

</td></tr>
    {%endfor%}
</tbody></table>
{%endif%}

{%if new_devices!=None%}
<h3>Devices</h3>
 <table class="table">
    <tbody>

{% for k,v in new_devices.items()|sort: %}
<tr><td>
    
    	
	    	  <div class="row" >
	          <div class="col-xs-10 " style="display: flex;justify-content: flex-start;padding-left: 15px;">
	                          
	                          <h3 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;">Device {{k}}</h3>
	                          
	          </div>
            <div class="col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;padding-top: 9px;">


              <span class="glyphicon glyphicon-menu-right editdevice" onclick='' data-location="{{k}}" data-tactil_switch="False" data-handles="[]" data-dev_type="{{v.dev_type}}" data-mac_address={{v.mac_address}} data-presence_state="{{v.presence_state}}" data-online="{{v.online}}"></span>
	  </div>
    	</div>

</td></tr>
    {%endfor%}
</tbody></table>
{%endif%}

{%if sensors!=None%}
<h3>Sensors</h3>
 <table class="table">
    <tbody>

{% for k,v in sensors.items()|sort: %}
<tr><td>
    
      
          <div class="row" >
            <div class="col-xs-10 " style="display: flex;justify-content: flex-start;padding-left: 15px;">
                            
                            <h3 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;">Sensor {{k}}</h3>
                            
            </div>
            <div class="col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;padding-top: 9px;">
              

              <span class="glyphicon glyphicon-menu-right editsensor" onclick='' data-location="{{k}}" data-battery="{{v.battery}}" data-online="{{v.online}}"  data-mac_address={{v.mac_address}}  data-battery_state="{{v.battery_state}}" data-temp_state="{{v.temp_state}}"></span>
    </div>
      </div>

</td></tr>
    {%endfor%}
</tbody></table>
{%endif%}

    <div class="modal fade" id="modaladdsensor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
                        <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                 <center><h4 ><span class="glyphicon glyphicon-plus-sign"></span><b> New Sensor</b></h4></center>
            </div>
            <!-- Modal Body -->
       <div class="modal-body">
 
                
                
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                    <h4>  <i class="fa fa-map-marker"></i> <label for="device_location">Location</label></h4>
                      <input type="text" class="form-control" id="sensor_location" name="location_sensor" value="Location" onfocus="if (this.value=='Location') this.value='';"/>
                  </div>

                  <div class="form-group" style="display: none;" > <input type="text" id="dataplaceraddsensor" name="dataplacesensor" data-location="" data-battery="" data-online=""  data-mac_address=""  data-battery_state="" data-temp_state="" / ></div>

                  <div class="row" style="margin-bottom: 10px;">
                          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 20px;">
                            <h4 id="textorelocoaverage" style="vertical-align: text-top;margin-top: 10px;"><i class="fa fa-area-chart"></i>  <b>Active for average</b></h4>
                          </div>
                          <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-top: 10px;padding-right: 20px;">
                                <form name="myForm">
                                <label class="radio-inline">
                                      <input type="radio" name="optradio" value="False">No
                                  </label>
                                  <label class="radio-inline">
                                     <input type="radio" value="True" name="optradio" checked>Yes
                                  </label>
                                </form>
                          </div>
                  </div>

                
          <row style="display: flex;justify-content: flex-end;">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" id="submit_changes_sensor" class="btn btn-primary" >Add Sensor</button>
          </row>
                </form>
        
</div>




        </div>
    </div>
</div>









    <div class="modal fade" id="modaladdevent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <div class="row">
                  <div class="col-xs-2" >
                    <span onclick='' id="back_arrow" style="display: flex;justify-content: flex-start;padding-left: 0px;padding-top: 12px;display: none;" class="fa fa-arrow-left back_arrow_class"></span>
                  </div>
                <div class="col-xs-6" style="display: flex;justify-content: center;padding-left: 15px;margin-left: 35px;">
                  <h4  ><span class="glyphicon glyphicon-plus-sign"> </span> <b> New Device</b></h4>
                </div>
                 </div>
            </div>

            <!-- Modal Body -->
       <div class="modal-body">
               <div id="body_device_com" style="display: none;"> 
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                    <h4>  <i class="fa fa-map-marker"></i> <label for="device_location">Location</label></h4>
                      <input type="text" class="form-control" id="device_location" name="location" value="Location" onfocus="if (this.value=='Location') this.value='';"/>
                  </div>

                  <div class="form-group">
                   <h4> <i class="fa fa-id-card-o"></i> <label for="device_name">Name</label></h4>
                      <input type="text" class="form-control" id="device_name" name="name" value="Name" onfocus="if (this.value=='Name') this.value='';"/ >
                  </div>

                  <div class="form-group" style="display: none;" > <input type="text" id="dataplaceradd" name="dataplace" value="" data-dev_type=""  data-mac_address="" data-online="" data-presence_state="" / ></div>

                <div class="row" style="margin-bottom: 10px;">
                          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 20px;">
                                  
                                 <h4 id="textoreloco" style="vertical-align: text-top;margin-top: 10px;"><i class="fa fa-power-off"></i>  <b>On/Off</b></h4>
                                  
                          </div>

                            <div class="col-xs-6" style="display: flex;justify-content: flex-end;" >
                              <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="Off" >
                                <label class="onoffswitch-label" for="myonoffswitch"></label>
                              </div>
                            </div>
                  </div>
                  </form>
                      <div class="row" id="prendeapaga" style="display:none;padding-left: 20px;">
                            <form action="" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
                                  <div class="form-group">
                                              <input type="text" style="display:none;"  id="statevalue" name="statevalue" value="0">
                                              <div class="row">
                                                    <div class="col-xs-9">
                                                      <div class="slidecontainer" style="padding-top: 26px;">
                                                          <input type="range" min="0" max="100" step="5" value="0" class="slider" id="myRange" name="set_point">
                                                      </div>
                                                    </div>
                                                    <div class="col-xs-3" style="display: flex;justify-content: center;">
                                                        <b><h3><span id="demo"></span>%</h3></b> 
                                                    </div>
                                            </div>

                                </div>

                          </form>
                      </div>

                </div>
                <div id="temp_row" style="{%if temp_device!=None%}display: none;{%else%}display: block;{%endif%}margin-bottom: 10px;">
                  
                  <div class="row">
                          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 20px;">
                            <h4 id="textoreloco" style="vertical-align: text-top;margin-top: 10px;"><i class="fa fa-thermometer-half"></i>  <b>Temp Device</b></h4>
                          </div>
                          <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-top: 10px;padding-right: 20px;">
                                <form name="myForm">
                                <label class="radio-inline">
                                      <input type="radio" name="optradio" value="False">No
                                  </label>
                                  <label class="radio-inline">
                                     <input type="radio" value="True" name="optradio">Yes
                                  </label>
                                </form>
                          </div>
                  </div>
                  
                  <row id="buttons_temp_rb" style="display: flex;justify-content: flex-end;margin-top: 10px; display: none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="submit_changes_temp_device" class="btn btn-primary" >Add Device</button>
                  </row>
                  </div>
                   
                           
    
                  
                  <row id="body_device_com_buttons" style="display: flex;justify-content: flex-end;display: none;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="submit_changes" class="btn btn-primary" >Add Device</button>
                </row>
                
              </div>




</div>
        </div>
    </div>







<div class="modal fade" id="modaladdswitch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-6" style="display: flex;justify-content: center;padding-left: 15px;margin-left: 35px;">
                  <h4  ><span class="glyphicon glyphicon-plus-sign"> </span> <b> New Switch</b></h4>
                </div>
                 </div>
            </div>

            <!-- Modal Body -->
       <div class="modal-body">
               <div id="body_device_com" > 
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                   <h4> <i class="fa fa-id-card-o"></i> <label for="switch_name">Name</label></h4>
                      <input type="text" class="form-control" id="switch_name" name="name" value="Name" onfocus="if (this.value=='Name') this.value='';"/ >
                  </div>

                  <div class="form-group">
                    <h4> <i class="fa fa-id-card-o"></i> <label for="switch_handles">Location</label></h4>

                      <select id="locationid" class="form-control">
                     
                        {%for location in rooms_devices.keys()|sort:%}
                        {%if location != 'default'%}
                        
                          <option value="{{'_'.join(location.split(' '))}}">{{location}}</option>
                       
                                        {% endif %}
                        {% endfor %}
                      </select>
                     <h4>  <i class="fa fa-wifi"></i> <label for="deviceid">Addresses</label></h4>
                      <select id="deviceid" class="selectpicker form-control" multiple >
                        {%for number,key in enumerate(rooms_devices.keys()|sort):%}
                          {%if number == 0:%}
                            {%for devices in rooms_devices[key]:%}
                               <option value="{{'_'.join(devices.split(' '))}}">{{devices}}</option>
                            {%endfor%}
                          {%endif%}
                        {%endfor%}
                        
                      </select>

                  </div>
                  


                  <div class="form-group" style="display: none;" > <input type="text" id="dataplaceraddswitch" name="dataplaceswitch" value="" data-dev_type=""  data-mac_address="" data-online="" data-presence_state="" data-tactil_switch="" data-handles="" / ></div>



                  </form>

                </div>          
                           
    
                  
                  <row style="display: flex;justify-content: flex-end;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="submit_changes_switch" class="btn btn-primary" >Add Switch</button>
                </row>
                
              </div>




</div>
        </div>
    </div>



{%else%}

<row id="no_scheduled_events">
 <center><h2>No new devices were found <span class="glyphicon glyphicon-thumbs-down"></span></h2></center>
</row>





{%endif%}


 <script>

    
  $("#myonoffswitch").click(function(){   console.log($("#locationid").val()+$("#deviceid").val());
                                          if (dic[$("#locationid").val()+$("#deviceid").val()]== 'False'){

                                          $("#prendeapaga").toggle(500);}
                                          if ($("#myonoffswitch").val()=='On'){$("#myonoffswitch").val('Off');$("#statevalue").val('False');}
                                          else{$("#myonoffswitch").val('On');$("#statevalue").val('True');}

                                             });

  $('#locationid').change(function () {
                                        $('#deviceid').html('');
                                            {%for location,devices in rooms_devices.items()|sort:%}
                                        if($('#locationid').val()=='{{'_'.join(location.split(' '))}}'){
                                            {%for device,item in devices.items():%} 
                                        $('#deviceid').append('<option value="{{'_'.join(device.split(' '))}}">{{device}}</option>');
                                            {% endfor %}
                                        }
                                                            
                                          {% endfor %}
                                          $('.selectpicker').selectpicker('refresh');
                                          if ($("#myonoffswitch").val()=='On'){$("#myonoffswitch").click();
                                                                              $("#prendeapaga").attr("style","display:none;padding-left: 20px;");
                                        $("#myRange").val('0')
                                        output.innerHTML = 0;  }

                                    });

  var rad = document.myForm.optradio;
  for(var i = 0; i < rad.length; i++) {
        rad[i].onclick = function () {
          if (this.value=='False'){
            console.log(this.value);
            $("#body_device_com_buttons").attr("style","display: flex;justify-content: flex-end;display: block;");
            $("#body_device_com").attr("style","display:block;");
            $("#back_arrow").attr("style","display: flex;justify-content: flex-start;padding-left: 0px;padding-top: 12px;display:block;");
            $("#temp_row").attr("style","display:none;");

          }
          else {

            $("#buttons_temp_rb").attr("style","display: flex;justify-content: flex-end;display: block;")
          }
         console.log(this.value);
        };
    };

    $(document).on("click","span.back_arrow_class",function(){
      $('input[name="optradio"]:checked').prop('checked', false);
      $("#body_device_com_buttons").attr("style","display:none;");
            $("#body_device_com").attr("style","display:none;");
            $("#back_arrow").attr("style","display: flex;justify-content: flex-start;padding-left: 0px;padding-top: 12px;display:none;");
            $("#temp_row").attr("style","display:block;");
            $("#buttons_temp_rb").attr("style","display: flex;justify-content: flex-end;display: none;")


    });


    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() { output.innerHTML = this.value;}



      $("#myonoffswitch").click(function(){
                                          if ($("#myonoffswitch").val()=='On'){
                                          	$("#myonoffswitch").val('Off');
                                          	$("#statevalue").val('False');
                                          	
                                          	$("#prendeapaga").attr("style","display:none;padding-left: 20px;");
                                          }
                                          else{

                                          	$("#myonoffswitch").val('On');
                                          	$("#statevalue").val('True');
                                          	if ($("#dataplaceradd").val() == 'False'){
                                          	$("#prendeapaga").attr("style","display:block;padding-left: 20px;");
                                          }
                                          }

                                             });
      
      $(document).on("click","span.editdevice",function(){
      													if ($("#myonoffswitch").val()=='On'){
      														$("#prendeapaga").attr("style","display:none;padding-left: 20px;");
      														$("#myonoffswitch").click();}

                                                        var location = $(this).data('location');
                                                        var dev_type = $(this).data('dev_type');
                                                        var mac_address = $(this).data('mac_address');
                                                        var presence_state = $(this).data('presence_state');
                                                        var online = $(this).data('online');

                                                        $("#dataplaceradd").val(dev_type);
                                                        $("#dataplaceradd").attr('data-old_location',location);
                                                        $("#dataplaceradd").attr('data-mac_address',mac_address);
                                                        $("#dataplaceradd").attr('data-presence_state',presence_state);
                                                        $("#dataplaceradd").attr('data-online',online);
                                                        $("#body_device_com_buttons").attr("style","display:none;");
                                                        $('input[name="optradio"]:checked').prop('checked', false);
                                                        $("#body_device_com").attr("style","display:none;");
                                                        $("#back_arrow").attr("style","display: flex;justify-content: flex-start;padding-left: 0px;padding-top: 12px;display:none;");
                                                        $("#temp_row").attr("style","display:block;");
                                                        $("#buttons_temp_rb").attr("style","display: flex;justify-content: flex-end;display: none;")


														$('#modaladdevent').modal('show');
                                                          
        });



      $("#submit_changes").click(function(){

        console.log('tu vieja');
        console.log($("#dataplaceradd").data('presence_state'));
        $.post("{{ url_for('add_device') }}",{'location':$("#device_location").val(),'str_id': $("#device_name").val() ,'state':$("#myonoffswitch").val(),'set_point':$("#myRange").val(), 'mac_address':$("#dataplaceradd").data('mac_address'),'presence_state':$("#dataplaceradd").data('presence_state'),'online':$("#dataplaceradd").data('online'),'temp_dev':$('input[name="optradio"]:checked').val(),'tactil_switch':'False','handles':[]}).done(function(result) {

          if(result['status']==200){
            console.log('200')

            if ($("#answer_message").hasClass('alert alert-danger')){console.log('que onda')
                                                                      $("#answer_message").removeClass("alert alert-danger");
                                                                      $("#answer_message").addClass("alert alert-success");}}
          else
          {if ($("#answer_message").hasClass('alert alert-success')){console.log('ki')
                                                                      $("#answer_message").removeClass("alert alert-success");
                                                                      $("#answer_message").addClass("alert alert-danger");}}

          $("#answer_message").text(result['message']);
          //$("#answer_message").fadeIn('slow').delay(2000).fadeOut('slow');
          if (result['ndkl']!=0){
          location.reload(true);}
          else {window.location.replace("{{url_for('index')}}");}
        });
        $('#modaladdevent').modal('hide');
      });

          $(document).on("click","span.editsensor",function(){
                                                                
                                                                
                                                                var battery = $(this).data('battery');
                                                                var mac_address = $(this).data('mac_address');
                                                               
                                                                var online = $(this).data('online');
                                                                var battery_state = $(this).data('battery_state');
                                                                var temp_state = $(this).data('temp_state');

                                                                
                                                                $("#dataplaceraddsensor").attr('data-mac_address',mac_address); 
                                                                
                                                                $("#dataplaceraddsensor").attr('data-battery',battery); 
                                                                 
                                                                $("#dataplaceraddsensor").attr('data-online',online); 
                                                                $("#dataplaceraddsensor").attr('data-battery_state',battery_state); 
                                                                $("#dataplaceraddsensor").attr('data-temp_state',temp_state); 
                                                              $('#modaladdsensor').modal('show');
                                                          
        });

            $("#submit_changes_sensor").click(function(){


        $.post("{{ url_for('add_sensor') }}",{'location':$("#sensor_location").val(),'battery':$("#dataplaceraddsensor").data('battery'),'mac_address':$("#dataplaceraddsensor").data('mac_address'),'online':$("#dataplaceraddsensor").data('online'),'battery_state':$("#dataplaceraddsensor").data('battery_state'),'temp_state':$("#dataplaceraddsensor").data('temp_state'),'active_average':$('input[name="optradio"]:checked').val()}).done(function(result) {

          if(result['status']==200){
            console.log('200')

            if ($("#answer_message").hasClass('alert alert-danger')){console.log('que onda')
                                                                      $("#answer_message").removeClass("alert alert-danger");
                                                                      $("#answer_message").addClass("alert alert-success");}}
          else
          {if ($("#answer_message").hasClass('alert alert-success')){console.log('ki')
                                                                      $("#answer_message").removeClass("alert alert-success");
                                                                      $("#answer_message").addClass("alert alert-danger");}}

          $("#answer_message").text(result['message']);
          //$("#answer_message").fadeIn('slow').delay(2000).fadeOut('slow');
          if (result['ndkl']!=0){
          location.reload(true);}
          else {window.location.replace("{{url_for('index')}}");}
        });
        $('#modaladdsensor').modal('hide');
      });


            $("#submit_changes_temp_device").click(function(){



        $.post("{{ url_for('add_device') }}",{'location':'Temperature','str_id': 'Temperature' ,'state':$("#myonoffswitch").val(),'set_point':$("#myRange").val(),'presence_state':$("#dataplaceradd").data('presence_state'),'online':$("#dataplaceradd").data('online'), 'mac_address':$("#dataplaceradd").data('mac_address'),'temp_dev':$('input[name="optradio"]:checked').val(),'tactil_switch':'False','handles':'[]'}).done(function(result) {

          if(result['status']==200){
            console.log('200')

            if ($("#answer_message").hasClass('alert alert-danger')){console.log('que onda')
                                                                      $("#answer_message").removeClass("alert alert-danger");
                                                                      $("#answer_message").addClass("alert alert-success");}}
          else
          {if ($("#answer_message").hasClass('alert alert-success')){console.log('ki')
                                                                      $("#answer_message").removeClass("alert alert-success");
                                                                      $("#answer_message").addClass("alert alert-danger");}}

          $("#answer_message").text(result['message']);
          //$("#answer_message").fadeIn('slow').delay(2000).fadeOut('slow');
          if (result['ndkl']!=0){
          location.reload(true);}
          else {window.location.replace("{{url_for('index')}}");}
        });
        $('#modaladdevent').modal('hide');

      });

                  $(document).on("click","span.editswitch",function(){


                                                        var location = $(this).data('location');
                                                        var dev_type = $(this).data('dev_type');
                                                        var mac_address = $(this).data('mac_address');
                                                        var presence_state = $(this).data('presence_state');
                                                        var online = $(this).data('online');
                                                        var tactil_switch = $(this).data('tactil_switch');

                                                        $("#dataplaceraddswitch").val(dev_type);
                                                        $("#dataplaceraddswitch").attr('data-old_location',location);
                                                        $("#dataplaceraddswitch").attr('data-mac_address',mac_address);
                                                        $("#dataplaceraddswitch").attr('data-presence_state',presence_state);
                                                        $("#dataplaceraddswitch").attr('data-online',online);
                                                        $("#dataplaceraddswitch").attr('data-tactil_switch',tactil_switch);
                                                    

                            $('#modaladdswitch').modal('show');
                                                          
        });

                        $("#submit_changes_switch").click(function(){


        $.post("{{ url_for('add_device') }}",{'location':$("#locationid").val(),'str_id': $("#switch_name").val() ,'state':$("#myonoffswitch").val(),'set_point':'0', 'mac_address':$("#dataplaceraddswitch").data('mac_address'),'presence_state':$("#dataplaceraddswitch").data('presence_state'),'online':$("#dataplaceraddswitch").data('online'),'temp_dev':'False','tactil_switch':$("#dataplaceraddswitch").data('tactil_switch'),'handles':$('#deviceid').val()}).done(function(result) {

          if(result['status']==200){
            console.log('200')

            if ($("#answer_message").hasClass('alert alert-danger')){console.log('que onda')
                                                                      $("#answer_message").removeClass("alert alert-danger");
                                                                      $("#answer_message").addClass("alert alert-success");}}
          else
          {if ($("#answer_message").hasClass('alert alert-success')){console.log('ki')
                                                                      $("#answer_message").removeClass("alert alert-success");
                                                                      $("#answer_message").addClass("alert alert-danger");}}

          $("#answer_message").text(result['message']);
          //$("#answer_message").fadeIn('slow').delay(2000).fadeOut('slow');
          if (result['ndkl']!=0){
          location.reload(true);}
          else {window.location.replace("{{url_for('index')}}");}
        });
        $('#modaladdswitch').modal('hide');
      });
$('.selectpicker').selectpicker();

    </script>

{% endblock %}