{% extends "base2.html" %}
{% block app_content %}

<link rel="stylesheet" href="/static/index_y_remove_device.css">
<link rel="stylesheet" href="/static/style_slider.css">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> <!-- arregla el tema del zoom en el modal, la romi toda -->
<link rel="stylesheet" type="text/css" href="/static/bootstrap-select-master/bootstrap-select-master/dist/css/bootstrap-select.min.css"/>
<script type="text/javascript" src="/static/bootstrap-select-master/bootstrap-select-master/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/bootstrap32.min.js"></script>
<style type="text/css">
  
  .dropdown-btn.index:hover {
    color: #333;
    background: rgba(255, 255, 255, 0.2);
}
</style>

{% for k,v in devices.items()|sort: %}

   <button class="dropdown-btn index" data-toggle="collapse" id="dpdw{{k}}"> {{k}} <i class="glyphicon glyphicon-triangle-bottom" style="font-size: 20px" aria-hidden="true"></i></button>
   <div class="dropdown-container-pitu collapse " >
    	
    {% for kk,vv in v.items()|sort: %}

    
    	
	    	  <div class="row" >
  	          <div class="col-xs-10 " style="display: flex;justify-content: flex-start;padding-left: 15px;">
  	                          
  	             <h3 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;"> {{kk}}</h3>
  	                          
  	          </div>
              <div class="col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;padding-top: 9px;">

                {%if not vv['tactil_switch']:%}
                <span class="glyphicon glyphicon-menu-right editdevice" onclick='' data-location="{{k}}" data-str_id="{{kk}}" data-state="{{vv.State}}" data-set_point="{{vv.set_point}}" data-dev_type="{{vv.dev_type}}" data-mac_address="{{vv.mac_address}}" data-handles="[]"></span>
                {%else:%}
                <span class="glyphicon glyphicon-menu-right editswitch" onclick='' data-location="{{k}}" data-str_id="{{kk}}" data-state="{{vv.State}}" data-set_point="{{vv.set_point}}" data-dev_type="{{vv.dev_type}}" data-mac_address="{{vv.mac_address}}" data-handles="{{vv.handles}}" ></span>

                {%endif%}
      
  	         </div>
    	   </div>
    

    {%endfor%}
  
 {% if k in current_sensors.keys()%}
    
          <div class="row" id="perro">
            <div class="col-xs-10 " style="display: flex;justify-content: flex-start;padding-left: 15px;">
                            
                            <h3 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;">Temp Sensor</h3>
                            
            </div>
            <div class="col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;">

              <span class="glyphicon glyphicon-menu-right editsensor" onclick='' data-old_location="{{k}}" data-mac_address="{{current_sensors[k]['mac_address']}}" data-active_average="{{current_sensors[k]['active_average']}}"  ></span>
           </div>
      </div>

 
    {%endif%}
    </div>
    {%endfor%}


    {%for key in current_sensors.keys():%}
    {%if key not in devices.keys()%}
       <button class="dropdown-btn index" data-toggle="collapse" > {{key}} <i class="glyphicon glyphicon-triangle-bottom" style="font-size: 20px" aria-hidden="true"></i></button>
        <div class="dropdown-container-pitu collapse " >

         <div class="row" >
                    <div class="col-xs-10 " style="display: flex;justify-content: flex-start;padding-left: 15px;">
                                    
                                    <h3 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;"> Sensors</h3>
                                    
                    </div>
                    <div class="col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;">

                      <span class="glyphicon glyphicon-menu-right editsensor" onclick='' data-old_location="{{key}}" data-mac_address="{{current_sensors[key]['mac_address']}}" data-active_average="{{current_sensors[k]['active_average']}}" ></span>
                   </div>
              </div>
</div>
    {%endif%}
    {%endfor%}






      <div class="modal fade" id="modaleditsensor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <center><h4><span class="glyphicon glyphicon-pencil"></span> Edit Sensor</h4></center>
            </div>

            <!-- Modal Body -->
       <div class="modal-body">
                
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                   <h4><h4><i class="fa fa-map-marker"></i> <label for="new_sensor_location"> New Location</label></h4>
                      <input type="text" class="form-control" id="new_sensor_location" name="new_location_sensor" value="" />
                  </div>

                  <div class="form-group" style="display: none;" > <input type="text" id="dataplacereditsensor" name="dataplacereditsensor" data-old_location="" data-mac_address=""  / ></div>
                  <div class="row" style="margin-bottom: 10px;">
                          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 20px;">
                            <h4 id="textorelocoaverage" style="vertical-align: text-top;margin-top: 10px;"><i class="fa fa-area-chart"></i>  <b>Active for average</b></h4>
                          </div>
                          <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-top: 10px;padding-right: 20px;">
                                <form name="myForm">
                                <label class="radio-inline">
                                      <input type="radio" name="optradio" value="False" id="optradiono">No
                                  </label>
                                  <label class="radio-inline">
                                     <input type="radio" value="True" name="optradio" id="optradioyes">Yes
                                  </label>
                                </form>
                          </div>
                  </div>
                
                  <row style="display: flex;justify-content: flex-end;">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" id="submit_changes_edit_sensor" class="btn btn-primary" >Save Changes</button>
                </row>
                </form>
        
</div>




        </div>
    </div>
</div>




    <div class="modal fade" id="modaleditdevice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <center><h4><span class="glyphicon glyphicon-pencil"></span> Edit Device</h4></center>
            </div>

            <!-- Modal Body -->
       <div class="modal-body" >
                
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                    <h4><i class="fa fa-map-marker"></i> <label for="device_location"> Location</label></h4>
                      <input type="text" class="form-control" id="device_location" name="location"/>
                  </div>

                  <div class="form-group">
                    <h4> <i class="fa fa-id-card-o"></i> <label for="device_name">Name</label></h4>
                      <input type="text" class="form-control" id="device_name" name="name"/>
                  </div>

                  <div class="form-group" style="display: none;" > <input type="text" id="dataplacer" name="dataplace" data-dev_type="" ></div>

                                  <row style="display: flex;justify-content: flex-end;" >
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="submit_changes" class="btn btn-primary" >Save Changes</button>
                </row>
                </form>
                  
                  </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modaleditswitch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-6" style="display: flex;justify-content: center;padding-left: 15px;margin-left: 35px;">
                  <h4  ><span class="glyphicon glyphicon-pencil"> </span> <b> Edit Switch</b></h4>
                </div>
                 </div>
            </div>

            <!-- Modal Body -->
       <div class="modal-body">
               <div id="body_device_com" > 
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                   <h4> <i class="fa fa-id-card-o"></i> <label for="switch_name">Name</label></h4>
                      <input type="text" class="form-control" id="switch_name" name="name" value="Name" onfocus="if (this.value=='Name') this.value='';"/ >
                  </div>

                  <div class="form-group">
                    <h4> <i class="fa fa-id-card-o"></i> <label for="switch_handles">Location</label></h4>

                      <select id="locationid" class="form-control">
                     
                        {%for location in devices.keys()|sort:%}
                        {%if location != 'default'%}
                        
                          <option value="{{'_'.join(location.split(' '))}}">{{location}}</option>
                       
                                        {% endif %}
                        {% endfor %}
                      </select>
                     <h4>  <i class="fa fa-wifi"></i> <label for="deviceid">Addresses</label></h4>
                      <select id="deviceid" class="selectpicker form-control" multiple >
                        {%for number,key in enumerate(devices.keys()|sort):%}
                          {%if number == 0:%}
                            {%for devicess in devices[key]:%}
                            {%if not devices[key][devicess]['tactil_switch']:%}
                               <option value="{{'_'.join(devicess.split(' '))}}">{{devicess}}</option>
                              {%endif%}
                            {%endfor%}
                          {%endif%}
                        {%endfor%}
                        
                      </select>

                  </div>
                  
                  <div class="form-group" style="display: none;" > <input type="text" id="dataplacereditswitch" name="dataplaceswitch" value="" data-dev_type=""  data-mac_address="" data-online="" data-presence_state="" data-tactil_switch="" data-handles="" / ></div>
                  </form>

                </div>          
                    
                  <row style="display: flex;justify-content: flex-end;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="submit_changes_switch" class="btn btn-primary" >Edit Switch</button>
                </row>
                
              </div>




</div>
        </div>
    </div>
</div>


    <script type="text/javascript">

     
      $(document).on("click","span.editdevice",function(){

                                                        var location = $(this).data('location');
                                                        var str_id = $(this).data('str_id');
                                                        var state = $(this).data('state');
                                                        var set_point = $(this).data('set_point');
                                                        var dev_type = $(this).data('dev_type');
                                                        var mac_address = $(this).data('mac_address');
                                                        $("#device_location").val(location);
                                                        $("#device_location").attr('onfocus',"if (this.value=='"+location+"') this.value='';");
                                                        $("#device_name").val(str_id);
                                                        $("#device_name").attr('onfocus',"if (this.value=='"+str_id+"') this.value='';");
                                                        $("#dataplacer").attr('data-dev_type',dev_type);
                                                        $("#dataplacer").attr('data-old_location',location);
                                                        $("#dataplacer").attr('data-old_str_id',str_id);
                                                        $("#dataplacer").attr('data-mac_address',mac_address);




        $('#modaleditdevice').modal('show');});


      $("#submit_changes").click(function(){


        $.post("{{ url_for('edit_device') }}",{'old_location':$("#dataplacer").data('old_location'),'old_str_id':$("#dataplacer").data('old_str_id'),'new_location':$("#device_location").val(),'new_str_id': $("#device_name").val() ,'mac_address':$("#dataplacer").data('mac_address')}).done(function(result) {

          if(result['status']==200){
            console.log('200')

            if ($("#answer_message").hasClass('alert alert-danger')){console.log('que onda')
                                                                      $("#answer_message").removeClass("alert alert-danger");
                                                                      $("#answer_message").addClass("alert alert-success");}}
          else
          {if ($("#answer_message").hasClass('alert alert-success')){console.log('ki')
                                                                      $("#answer_message").removeClass("alert alert-success");
                                                                      $("#answer_message").addClass("alert alert-danger");}}

          $("#answer_message").text(result['message']);
          //$("#answer_message").fadeIn('slow').delay(2000).fadeOut('slow');
          location.reload(true);
        });
        $('#modaleditdevice').modal('hide');
      });

      $(document).on("click","span.editsensor",function(){

                                                        var old_location = $(this).data('old_location');
                                                        var mac_address = $(this).data('mac_address');
                                                        var active_average = $(this).data('active_average');

                                                        if(active_average == "True"){
                                                          $('#optradioyes').prop('checked', true);
                                                        } else {

                                                          $('#optradiono').prop('checked', true);
                                                        };

                                                        $("#new_sensor_location").val(old_location);
                                                        $("#new_sensor_location").attr('onfocus',"if (this.value=='"+old_location+"') this.value='';");

                                                        $("#dataplacereditsensor").attr('data-old_location',old_location);
                                                        $("#dataplacereditsensor").attr('data-mac_address',mac_address);
                                                        $('#modaleditsensor').modal('show');

          });

       $("#submit_changes_edit_sensor").click(function(){

        console.log($("#new_sensor_location").val());
        console.log($("#new_sensor_location").val());

        $.post("{{url_for('edit_sensor')}}",{'new_location':$("#new_sensor_location").val(),'old_location':$("#dataplacereditsensor").data('old_location'),'mac_address':$("#dataplacereditsensor").data('mac_address'),'active_average':$('input[name="optradio"]:checked').val()}).done(function(result) {

          if(result['status']==200){
            console.log('200')};

            
            location.reload(true);
        $('#modaleditsensor').modal('hide');});});


         $('#locationid').change(function () {
                                        $('#deviceid').html('');
                                            {%for location,devices in devices.items()|sort:%}
                                        if($('#locationid').val()=='{{location}}'){
                                            {%for device,item in devices.items():%} 
                                            {%if not item['tactil_switch']:%}
                                        $('#deviceid').append('<option value="{{'_'.join(device.split(' '))}}">{{device}}</option>');
                                        {%endif%}
                                            {% endfor %}
                                        }
                                                            
                                          {% endfor %}
                                          $('.selectpicker').selectpicker('refresh');
                                          

                                    });
    $(document).on("click","span.editswitch",function(){


                                                        var location = $(this).data('location');
                                                        var str_id = $(this).data('str_id');
                                                        var state = $(this).data('state');
                                                        var set_point = $(this).data('set_point');
                                                        var dev_type = $(this).data('dev_type');
                                                        var mac_address = $(this).data('mac_address');
                                                        var handles = $(this).data('handles')

                                                        $("#dataplacereditswitch").val(dev_type);
                                                        $("#dataplacereditswitch").attr('data-old_location',location);
                                                        $("#dataplacereditswitch").attr('data-mac_address',mac_address);
                                                        $("#dataplacereditswitch").attr('data-handles',handles);
                                                        $("#dataplacereditswitch").attr('data-old_str_id',str_id);

                                                        $("#switch_name").val(str_id);
                                                        $("#switch_name").attr('onfocus',"if (this.value=='"+str_id+"') this.value='';");

                                                        $("#locationid").val(location);
                                                        $('#locationid').trigger('change');


                                                        console.log(eval(handles));
                                                        console.log(location);

                                             $('#deviceid').html('');
                                            {%for location_dic,devices in devices.items()|sort:%}
                                        if($('#locationid').val()=='{{location_dic}}'){
                                            {%for device,item in devices.items():%} 
                                            {%if not item['tactil_switch']:%}
                                        if (eval(handles).includes('{{device}}')) {
                                        $('#deviceid').append('<option value="{{'_'.join(device.split(' '))}}" selected>{{device}}</option>');}
                                        else
                                          {$('#deviceid').append('<option value="{{'_'.join(device.split(' '))}}">{{device}}</option>');}
                                        {%endif%}
                                            {% endfor %}
                                        }
                                                            
                                          {% endfor %}
                                          $('.selectpicker').selectpicker('refresh');
                                                        




                                                    

                            $('#modaleditswitch').modal('show');
                                                          
        });

    $("#submit_changes_switch").click(function(){


        $.post("{{ url_for('edit_device') }}",{'old_location':$("#dataplacereditswitch").data('old_location'),'old_str_id':$("#dataplacereditswitch").data('old_str_id'),'new_location':$("#locationid").val(),'new_str_id': $("#switch_name").val() ,'mac_address':$("#dataplacereditswitch").data('mac_address'),'handles':$('#deviceid').val()}).done(function(result) {

          if(result['status']==200){
            console.log('200')

            if ($("#answer_message").hasClass('alert alert-danger')){console.log('que onda')
                                                                      $("#answer_message").removeClass("alert alert-danger");
                                                                      $("#answer_message").addClass("alert alert-success");}}
          else
          {if ($("#answer_message").hasClass('alert alert-success')){console.log('ki')
                                                                      $("#answer_message").removeClass("alert alert-success");
                                                                      $("#answer_message").addClass("alert alert-danger");}}

          $("#answer_message").text(result['message']);
          //$("#answer_message").fadeIn('slow').delay(2000).fadeOut('slow');
          location.reload(true);
        });
        $('#modaleditdevice').modal('hide');
      });
    </script>

    {% endblock %}