{% extends "base2.html" %}
{% block app_content %}

<form role="form" action="{{url_for('generate_dummy_device')}}" method="POST" id="form_id">
      <br>            
	<div class="form-group">
                    <label for="dev_type">Dev_type</label>
                      <select id="dev_type" class="form-control" name="dev_type">

                          <option value="True">True</option>
                          <option value="False">False</option>

                      </select>

                  <div class="form-group">
                  	<br>
                  	<button class="btn btn-primary">Add New Dummy Device</button>
                  </div>
</form>




<form role="form" action="{{url_for('generate_dummy_sensor')}}" method="POST" id="form_id_sensors">
      <br>            
  <div class="form-group">
                    <label for="presence_state_sensor">Presence State</label>
                      <select id="presence_state_sensor" class="form-control" name="presence_state_sensor">

                          <option value="True">True</option>
                          <option value="False">False</option>
                          

                      </select>
                      
                      <label for="online_sensor">Online</label>
                      <select id="online_sensor" class="form-control" name="online_sensor">

                          <option value="True">True</option>
                          <option value="False">False</option>

                      </select>

                          
                       <label for="battery_sensor">Battery</label>
                      <select id="battery_sensor" class="form-control" name="battery_sensor">

                          <option value="True">True</option>
                          <option value="False">False</option>
                          

                      </select>

                       <label for="battery_sensor_state">Battery State</label>
                      <select id="battery_sensor_state" class="form-control" name="battery_sensor_state">

                          <option value="True">True</option>
                          <option value="False">False</option>
                          
                        </select>

                         <div class="form-group">
                          <label for="temperature_state">Temperature</label>
                          <input type="text" class="form-control" id="temperature_state" name="temperature_state">
                        </div>
                          

                     



                  <div class="form-group">
                    <br>
                    <button class="btn btn-primary">Add New Dummy Sensor</button>
                  </div>
</form>

<script type="text/javascript">
  
$('#dev_type_sensor').change(function () { });


</script>



{% endblock %}