{% extends "base2.html" %}
{% block app_content %}
    
    <h1>Hi, {{ current_user.username }}!</h1>
    
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <link rel="stylesheet" href="/static/bootstrap-select/dist/css/bootstrap-select.min.css">
	<script src="static/bootstrap-select/dist/js/bootstrap-select.js"></script>
	<link rel="stylesheet" href="/static/style_slider.css">


  

    <style type="text/css">

    {%if temp['State'] == True:%}
	#prendeapaga {display:show;}
	{%else:%}
	#prendeapaga {display:none;}
	{% endif %}
    	
    .dropdown-container-pitu {
    display: none;

	}
	.index {
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    text-decoration: none;
    font-family: inherit;
    font-size: 30px;
    color: inherit;
    display: block;
    transition: 0.0s;

    border: none;
    background: none;

    width: 100%;

    text-align: left;
    cursor: pointer;
    outline: none;
	}


    </style>


    	 <div class="row">
          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                          
                         <h2 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;">Temperature</h2>
                          
                  </div>
                    <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-right: 0px;">
                              <div class="onoffswitch">
                                  {%if temp['State']==True%}
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="On" checked>
                                  {%else%}
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="Off" >
                                  {%endif%}
                                  <label class="onoffswitch-label" for="myonoffswitch"></label>
                              </div>
                    </div> 
                         
          </div>
   <div class="alert alert-success" role="alert" id="activatechange" style="display:none;"> Changes were made madafaca!</div>

    <div class="row" id="prendeapaga" >
     
            <form action="{{ url_for('set_temperature') }}" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
            <div class="form-group">
              <input type="text" style="display:none;"  id="statevalue" name="statevalue" value="{{temp['State']}}">
    
    <div class="row">
    	<div class="col-xs-10">
		    <div class="slidecontainer" style="padding-top: 26px;">
                <input type="range" min="15" max="30" value="{{temp['Set_Point']}}" class="slider" id="myRange"  name="set_temp">
                
		    </div>
		</div>
		<div class="col-xs-2" style="display: flex;justify-content: center;">
			<b><h3><span id="demo"></span>°C</h3></b> 
		</div>
		</div>
	</div>

              </form>
    
  </div>

{% for k,v in devices.items()|sort: %}
   <button class="dropdown-btn index" data-toggle="collapse" id="dpdw{{k}}"> {{k}} <i class="glyphicon glyphicon-triangle-bottom" style="font-size: 20px" aria-hidden="true"></i></button>
   <div class="dropdown-container-pitu collapse " >
    	
    {% for kk,vv in v.items()|sort: %}
    	
	    	  <div class="row">
	          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 15px;width: 303px;">
	                          
	                          <h3 id="textoreloco"   style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;"> {{kk}}</h3>
	                          
	                  </div>
	                    <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-right: 0px;width: 302px;">
	                              <div class="onoffswitch">
	                                  {%if vv['State']==True:%}
	                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}" value="On" checked>
	                                  {%else:%}
	                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}" value="Off" >
	                                  {%endif%}
	                                  <label class="onoffswitch-label" for="myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}"></label>
	                              </div>
	                    </div> 
	                         
	          </div>
    	{%if vv['dev_type'] == False:%}
            <div class="alert alert-success" role="alert" id="activatechange{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}" style="display:none;"> Changes were made madafaca!</div>
          	{%if vv['State'] == True:%}
          		<div class="row" id="prendeapaga{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}" style="display:show;padding-left: 20px;">
          	{%else:%}
          		<div class="row" id="prendeapaga{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}" style="display:none;padding-left: 20px;">
        	{%endif%}
            	<form action="{{ url_for('set_lights') }}" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
            		<div class="form-group">
              			<input type="text" style="display:none;"  id="statevalue{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}" name="statevalue" value="{{vv['State']}}">
            			<div class="row">
    						<div class="col-xs-10">
		    					<div class="slidecontainer" style="padding-top: 26px;">
                    				<input type="range" min="0" max="100" step="5" value="{{vv['set_point']}}" class="slider" id="myRange{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}" name="set_point">
                   				</div>
							</div>
							<div class="col-xs-2" style="display: flex;justify-content: center;">
								<b><h3><span id="demo{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}"></span>%</h3></b> 
							</div>
						</div>

      				</div>
            	</form>
    {%else:%}
  		</div>
            	
        {%endif%}
    	</div>
    {%endfor%}

  
{%endfor%}
  <script>
 	$(document).on('change', '#myRange', function(){$.post("{{ url_for('set_temperature') }}",{'state': 'True','set_point':$("#myRange").val()}).done(function() {$("#activatechange").fadeIn('slow').delay(1000).fadeOut('slow');});});

  	$(document).ready(function() {
  		var slider = document.getElementById("myRange");
		var output = document.getElementById("demo");
		output.innerHTML = slider.value;

		slider.oninput = function() { output.innerHTML = this.value;}

	$("#myonoffswitch").click(function(){
	        $("#prendeapaga").toggle(500);
	      if ($("#myonoffswitch").val()=='On'){$("#myonoffswitch").val('Off');$("#statevalue").val('False');$.post("{{ url_for('set_temperature') }}",{'state': 'False','set_point':$("#myRange").val()})}
	      else{$("#myonoffswitch").val('On');$("#statevalue").val('True');$.post("{{ url_for('set_temperature') }}",{'state': 'True','set_point':$("#myRange").val()});}

	         });


  	{% for k,v in devices.items()|sort: %}
  	{% for kk,vv in v.items()|sort: %}
  	{% if vv['dev_type'] == False: %}

  		$(document).on('change', '#myRange{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}', function(){$.post("{{ url_for('set_dev') }}",{'location' : "{{k}}.{{kk}}",'state': 'True','set_point':$("#myRange{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val()}).done(function() {$("#activatechange{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").fadeIn('slow').delay(1000).fadeOut('slow');});});

  		var slider{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}} = document.getElementById("myRange{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}");
		var output{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}} = document.getElementById("demo{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}");
		output{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}.innerHTML = slider{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}.value;

		slider{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}.oninput = function() {
  		output{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}.innerHTML = this.value;}
  		$("#myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").click(function(){
        $("#prendeapaga{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").toggle(500);
      	if ($("#myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val()=='On'){$("#myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val('Off');$("#statevalue{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val('False');$.post("{{ url_for('set_dev') }}",{'location' : "{{k}}.{{kk}}",'state': 'False','set_point':$("#myRange{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val()})}
      	else{$("#myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val('On');$("#statevalue{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val('True');$.post("{{ url_for('set_dev') }}",{'location' : "{{k}}.{{kk}}",'state': 'True','set_point':$("#myRange{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val()});}});
  	{%else:%}

  		$("#myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").click(function(){
        
      	if ($("#myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val()=='On'){$("#myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val('Off');$("#statevalue{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val('False');$.post("{{ url_for('set_dev') }}",{'location' : "{{k}}.{{kk}}",'state': 'False','set_point':"None"})}
      	else{$("#myonoffswitch{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val('On');$("#statevalue{{k}}{{kk.split(' ')[0]}}{{kk.split(' ')[1]}}").val('True');$.post("{{ url_for('set_dev') }}",{'location':"{{k}}.{{kk}}",'state': 'True','set_point': 'None'});}});

  	{%endif%}


  	{%endfor%}
  	{%endfor%}
$('.dropdown-btn').on('click', function(){
    var iSelector = $(this).find('i:first');
    if(iSelector.hasClass('glyphicon glyphicon-triangle-bottom')) {
        iSelector.removeClass('glyphicon glyphicon-triangle-bottom')
        iSelector.addClass('glyphicon glyphicon-triangle-top')
    }else{
        iSelector.removeClass('glyphicon glyphicon-triangle-top')
        iSelector.addClass('glyphicon glyphicon-triangle-bottom')

    }


});});
  </script>
    
{% endblock %}


