{% extends "base2.html" %}
{% block app_content %}
	   <link rel="stylesheet" href="/static/style_slider.css">
     <link rel="stylesheet" href="/static/index_y_remove_device.css">


  

    <style type="text/css">

    {%if temp['State'] == True:%}
	#prendeapaga {display:show;}
	{%else:%}
	#prendeapaga {display:none;}
	{% endif %}


    </style>

    <br>
    	 <div class="row">
          <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                          
                         <h2 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;">Temperature</h2>
                          
                  </div>
                    <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-right: 0px;">
                              <div class="onoffswitch">
                                  {%if temp['State']==True%}
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="On" checked>
                                  {%else%}
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="Off" >
                                  {%endif%}
                                  <label class="onoffswitch-label" for="myonoffswitch"></label>
                              </div>
                    </div> 
                         
          </div>
   
    <div class="row" id="prendeapaga" >
     
            <form action="{{ url_for('set_temperature') }}" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
            <div class="form-group">
              <input type="text" style="display:none;"  id="statevalue" name="statevalue" value="{{temp['State']}}">
    
    <div class="row">
    	<div class="col-xs-9">
		    <div class="slidecontainer" style="padding-top: 26px;">
                <input type="range" min="15" max="30" value="{{temp['Set_Point']}}" class="slider" id="myRange"  name="set_temp">
                
		    </div>
		</div>
		<div class="col-xs-3" style="display: flex;justify-content: center;">
			<b><h3><span id="demo"></span>°C</h3></b> 
		</div>
		</div>
	</div>

              </form>
    
  </div>

{% for k,v in devices.items()|sort: %}
{%if k != 'default' %}
   <button class="dropdown-btn index" data-toggle="collapse" id="dpdw{{'-'.join(k.split(' '))}}"> {{'-'.join(k.split(' '))}} <i class="glyphicon glyphicon-triangle-bottom" style="font-size: 20px" aria-hidden="true"></i></button>
   <div class="dropdown-container-pitu collapse " >
    	
    {% for kk,vv in v.items()|sort: %}
    	
	    	  <div class="row">
	          <div class="col-xs-8" style="display: flex;justify-content: flex-start;padding-left: 15px;">
	                          
	                          <h3 id="textoreloco"   style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;"> {{kk}}</h3>
	                          
	          </div>
	                    <div class="col-xs-4" style="display: flex;justify-content: flex-end;padding-right: 0px;">
	                              <div class="onoffswitch">
	                                  {%if vv['State']==True:%}
	                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" value="On" checked>
	                                  {%else:%}
	                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" value="Off" >
	                                  {%endif%}
	                                  <label class="onoffswitch-label" for="myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}"></label>
	                              </div>
	                    </div> 
	                         
	          </div>
    	{%if vv['dev_type'] == False:%}
          	{%if vv['State'] == True:%}
          		<div class="row" id="prendeapaga{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" style="display:show;padding-left: 20px;">
          	{%else:%}
          		<div class="row" id="prendeapaga{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" style="display:none;padding-left: 20px;">
        	{%endif%}
            	<form action="" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
            		<div class="form-group">
              			<input type="text" style="display:none;"  id="statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" name="statevalue" value="{{vv['State']}}">
            			<div class="row">
    						<div class="col-xs-9">
		    					<div class="slidecontainer" style="padding-top: 26px;">
                    				<input type="range" min="0" max="100" step="5" value="{{vv['set_point']}}" class="slider" id="myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" name="set_point">
                   				</div>
							</div>
							<div class="col-xs-3" style="display: flex;justify-content: center;">
								<b><h3><span id="demo{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}"></span>%</h3></b> 
							</div>
						</div>

      				</div>
            	</form>
    
  		</div>
            	
        {%endif%}
    	
    {%endfor%}
</div>
 {%endif%} 
{%endfor%}
  <script>
 	$(document).on('change', '#myRange', function(){$.post("{{ url_for('set_temperature') }}",{'state': 'True','set_point':$("#myRange").val()}).done();});

  	$(document).ready(function() {
  		var slider = document.getElementById("myRange");
		var output = document.getElementById("demo");
		output.innerHTML = slider.value;

		slider.oninput = function() { output.innerHTML = this.value;}

	$("#myonoffswitch").click(function(){
	        $("#prendeapaga").toggle(500);
	      if ($("#myonoffswitch").val()=='On'){$("#myonoffswitch").val('Off');$("#statevalue").val('False');$.post("{{ url_for('set_temperature') }}",{'state': 'False','set_point':$("#myRange").val()})}
	      else{$("#myonoffswitch").val('On');$("#statevalue").val('True');$.post("{{ url_for('set_temperature') }}",{'state': 'True','set_point':$("#myRange").val()});}

	         });


  	{% for k,v in devices.items()|sort: %}
    {%if k != 'default' %}
  	{% for kk,vv in v.items()|sort: %}
  	{% if vv['dev_type'] == False: %}

  		$(document).on('change', '#myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}', function(){$.post("{{ url_for('set_dev') }}",{'location' : "{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'True','set_point':$("#myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()}).done(function() {});});

  		var slider{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}} = document.getElementById("myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}");
		var output{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}} = document.getElementById("demo{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}");
		output{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}.innerHTML = slider{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}.value;

		slider{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}.oninput = function() {
  		output{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}.innerHTML = this.value;}
  		$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").click(function(){
        $("#prendeapaga{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").toggle(500);
      	if ($("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()=='On'){$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('Off');$("#statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('False');$.post("{{ url_for('set_dev') }}",{'location' : "{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'False','set_point':$("#myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()})}
      	else{$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('On');$("#statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('True');$.post("{{ url_for('set_dev') }}",{'location' : "{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'True','set_point':$("#myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()});}});
  	{%else:%}

  		$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").click(function(){
        
      	if ($("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()=='On'){$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('Off');$("#statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('False');$.post("{{ url_for('set_dev') }}",{'location' : "{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'False','set_point':"None"})}
      	else{$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('On');$("#statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('True');$.post("{{ url_for('set_dev') }}",{'location':"{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'True','set_point': 'None'});}});

  	{%endif%}


  	{%endfor%}
    {%endif%}
  	{%endfor%}
    
});
  </script>
    
{% endblock %}


