{% extends "base2.html" %}
{% block app_content %}
     <link rel="stylesheet" href="/static/style_slider.css">
     <link rel="stylesheet" href="/static/index_y_remove_device.css">

  <style type="text/css">

  {%if temp['State'] == True:%}
    #prendeapaga {display:show;}
  {%else:%}
    #prendeapaga {display:none;}
  {% endif %}

    .dropdown-btn.index:hover {
    color: #333;
    background: rgba(255, 255, 255, 0.2);
    }

  </style>

    <div class="row" style="display: flex;justify-content: center;">
    <h1><span class="fa fa-home"></span> {{ title}}</h1>
</div>

{%if temp%}



<div id="temp_for_back" >
       <div class="row">
          <div class="col-xs-8" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                          
                         <h2 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;">Temperature: {{temp['Current_value']}} °C</h2>
                          
                  </div>
                    <div class="col-xs-4" style="display: flex;justify-content: flex-end;padding-right: 0px;">
                              <div class="onoffswitch">
                                  {%if temp['State']==True%}
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="On" checked>
                                  {%else%}
                                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="Off" >
                                  {%endif%}
                                  <label class="onoffswitch-label" for="myonoffswitch"></label>
                              </div>
                    </div> 
                         
          </div>
   
    <div class="row" id="prendeapaga" >
     
            <form action="{{ url_for('set_temperature') }}" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
            <div class="form-group">
              <input type="text" style="display:none;"  id="statevalue" name="statevalue" value="{{temp['State']}}">
    
    <div class="row">
      <div class="col-xs-9">
        <div class="slidecontainer" style="padding-top: 26px;">
                <input type="range" min="15" max="30" value="{{temp['Set_Point']}}" class="slider" id="myRange"  name="set_temp">
                
        </div>
    </div>
    <div class="col-xs-3" style="display: flex;justify-content: center;">
      <b><h3><span id="demo"></span>°C</h3></b> 
    </div>
    </div>
  </div>

              </form>
    
  </div>
  </div>
{%endif%}

{% for k,v in devices.items()|sort: %}
{%if k != 'Temperature' %}

{%if k in current_sensors.keys()%}
  <h1>{{devices[k]['online']}}</h1>
        <button class="dropdown-btn index" data-toggle="collapse" > {{k}}{%if state[k]['online']%} {%if state[k]['presence_state']%} <span class="fa fa-street-view" id={{k}} style="color: green;"></span>{%else%} <span class="fa fa-street-view "></span>{%endif%}{%else%} <span class="fa fa-street-view " id={{k}} style="color: grey;"></span>{%endif%}{%if not current_sensors[k]['online'] %} <span class="fa fa-thermometer-half" style="color: grey;"></span>{%if current_sensors[k]['battery']%} <span class="fa fa-battery-full" style="font-size:25px;color: grey;"></span>{%endif%}{%else%} <span class="fa fa-thermometer-half"></span>{%if current_sensors[k]['battery']%} {%if current_sensors[k]['battery_state']%} <span class="fa fa-battery-empty" style="color: red;font-size:25px;"></span>{%else%}<span class="fa fa-battery-full" style="font-size:25px;"></span> {%endif%}{%endif%}{%endif%} <i class="glyphicon glyphicon-triangle-bottom" style="font-size: 25px" aria-hidden="true"></i></button>


{%else%}

<button class="dropdown-btn index" data-toggle="collapse" id="dpdw{{'-'.join(k.split(' '))}}"> {{k}}{%if state[k]['online']%} {%if state[k]['presence_state']%} <span class="fa fa-street-view" id={{k}} style="color: green;"></span>{%else%} <span class="fa fa-street-view " id={{k}}></span>{%endif%}{%else%} <span class="fa fa-street-view " id={{k}} style="color: grey;"></span>{%endif%} <i class="glyphicon glyphicon-triangle-bottom" style="font-size: 20px" aria-hidden="true"></i></button>

 {%endif%}
   <div class="dropdown-container-pitu collapse " >

    {%if k in current_sensors.keys() %}
                 <div class="row" style="margin-bottom: 10px;">
                        <div class="col-xs-8" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                                        
                                        <h3 id="textoreloco"   style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;"> Temperature </h3>
                                        
                        </div>

                        <div class="col-xs-4" style="display: flex;justify-content: flex-end;padding-right: 0px;"> <h3 style="margin-top: 5px;padding-right: 16px;"> {%if not current_sensors[k]['online'] %} - {%else%}{{current_sensors[k]['temp_state']}}°C{%endif%}</h3>
                        </div>
            </div>


    {%endif%}
     
    {% for kk,vv in v.items()|sort: %}
      
          <div class="row">
            <div class="col-xs-8" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                            
                            <h3 id="textoreloco"   style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;"> {{kk}}</h3>
                            
            </div>

                      <div class="col-xs-4" style="display: flex;justify-content: flex-end;padding-right: 0px;">
                                <div class="onoffswitch">
                                    {%if vv['State']==True:%}
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" value="On" checked>
                                    {%else:%}
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" value="Off" >
                                    {%endif%}
                                    <label class="onoffswitch-label" for="myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}"></label>
                                </div>
                      </div> 
                           
            </div>
      {%if vv['dev_type'] == False:%}
            {%if vv['State'] == True:%}
              <div class="row" id="prendeapaga{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" style="display:show;padding-left: 20px;">
            {%else:%}
              <div class="row" id="prendeapaga{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" style="display:none;padding-left: 20px;">
          {%endif%}
              <form action="" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
                <div class="form-group">
                    <input type="text" style="display:none;"  id="statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" name="statevalue" value="{{vv['State']}}">
                  <div class="row">
                <div class="col-xs-9">
                  <div class="slidecontainer" style="padding-top: 26px;">
                            <input type="range" min="0" max="100" step="5" value="{{vv['set_point']}}" class="slider" id="myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}" name="set_point">
                          </div>
              </div>
              <div class="col-xs-3" style="display: flex;justify-content: center;">
                <b><h3><span id="demo{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}"></span>%</h3></b> 
              </div>
            </div>

              </div>
              </form>
    
      </div>
              
        {%endif%}
      
    {%endfor%}
</div>
 {%endif%} 
{%endfor%}
{%for key in current_sensors.keys():%}
{%if key not in devices.keys()%}

<button class="dropdown-btn index" data-toggle="collapse" > {{key}}{%if not current_sensors[key]['online'] %} <span class="fa fa-street-view " id={{key}} style="color: grey"></span> <span class="fa thermometer-half" style="color: grey"></span>{%else%}{%if current_sensors[key]['presence_state']%} <span class="fa fa-street-view" id={{key}} style="color: green"></span>{%else%} <span class="fa fa-street-view "></span>{%endif%} <span class="fa fa-thermometer-half"></span>{%if current_sensors[key]['battery']%} {%if current_sensors[key]['battery_state']%} <span class="fa fa-battery-empty" style="color: red;font-size:25px;"></span>{%else%}<span class="fa fa-battery-full" style="font-size:25px;"></span> {%endif%}{%endif%}{%endif%} <i class="glyphicon glyphicon-triangle-bottom" style="font-size: 25px" aria-hidden="true"></i></button>

                 <div class="dropdown-container-pitu collapse " >

             <div class="row">
                        <div class="col-xs-8" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                                        
                                        <h3 id="textoreloco"   style="vertical-align: text-top;margin-top: 5px;padding-left: 20px;"> Temperature </h3>
                                        
                        </div>
                        
                        <div class="col-xs-4" style="display: flex;justify-content: flex-end;padding-right: 0px;"> <h3 style="margin-top: 5px;padding-right: 16px;"> {{current_sensors[key]['temp_state']}}°C</h3>
                        </div>
            </div>
        
         </div>

     
{%endif%}
{%endfor%}

{%if temp==None and devices|length==0 and current_sensors|length==0%}

<div class="row" >
 <center><h2 style="margin-top: 5px;">No devices associated yet! <span class="glyphicon glyphicon-thumbs-down"></span></h2></center>
</div>

{%endif%}


<div class="modal fade" id="connectionlostnotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <center><h4 > <span class="fa fa-frown-o"></span> Connection Error</h4></center>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
              

              <h4 id='text_error_body'></h4>

           

              <row style="display: flex;justify-content: flex-end;" >
                
                <button type="button" class="btn btn-primary" id="dismiss_connection_lost_notification" >
                            Accept
                </button>
              </row>
                        </div>



        </div>
    </div>
</div>
  <script>

    socket.on('presence_state_tobrowser', function(result) {

      if (result.presence_ToSendToBrowser[1]) {
        document.getElementById(result.presence_ToSendToBrowser[0]).style.color = "green";
      } else {
        document.getElementById(result.presence_ToSendToBrowser[0]).style.color = "black";
      }

      


    return false


  });

    {%if temp!=None%}
  $(document).on('change', '#myRange', function(){$.post("{{ url_for('set_temperature') }}",{'state': 'True','set_point':$("#myRange").val()}).done(function(result) {

        if (result['status']==400) { 
console.log(result);
            console.log(result['status'])
            console.log(result['str_id'])
            console.log(result['location'])
            console.log('la concha de tu mama')
            $('#text_error_body').text('It seems like device '+result['str_id']+' in '+result['location']+' is offline');
            $('#temp_for_back').addClass('prevent-click');
            $('#temp_for_back').css('background-color', 'silver');
            $('#connectionlostnotification').modal('show');
          }
      });});
{%endif%}
    $(document).ready(function() {
      {%if temp!=None%}
      var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() { output.innerHTML = this.value;}

  $("#myonoffswitch").click(function(){
          $("#prendeapaga").toggle(500);
        if ($("#myonoffswitch").val()=='On'){
          $("#myonoffswitch").val('Off');$("#statevalue").val('False');$.post("{{ url_for('set_temperature') }}",{'state': 'False','set_point':$("#myRange").val()}).done(function(result) {

        if (result['status']==400) { 

          console.log(result);

            console.log(result['status'])
            console.log(result['str_id'])
            console.log(result['location'])
            
            $('#text_error_body').text('It seems like device '+result['str_id']+' in '+result['location']+' is offline');
            
            $('#connectionlostnotification').modal('show');
          }
      });

        }


        else{$("#myonoffswitch").val('On');$("#statevalue").val('True');$.post("{{ url_for('set_temperature') }}",{'state': 'True','set_point':$("#myRange").val()}).done(function(result) {

        if (result['status']==400) { 
console.log(result);
            console.log(result['status'])
            console.log(result['str_id'])
            console.log(result['location'])
            console.log('la concha de tu mama')
            $('#text_error_body').text('It seems like device '+result['str_id']+' in '+result['location']+' is offline');
            
            $('#connectionlostnotification').modal('show');
          }
      });

      }

           });
{%endif%}

    {% for k,v in devices.items()|sort: %}
    {%if k != 'default' %}
    {% for kk,vv in v.items()|sort: %}
    {% if vv['dev_type'] == False: %}

      $(document).on('change', '#myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}', function(){$.post("{{ url_for('set_dev') }}",{'location' : "{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'True','set_point':$("#myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()}).done(function(result) {

        if (result['status']==400) { 

            console.log(result['status'])
            console.log(result['str_id'])
            console.log(result['location'])
            
            $('#text_error_body').text('It seems like device '+result['str_id']+' in '+result['location']+' is offline');
            
            $('#connectionlostnotification').modal('show');
          }
      });});

        var slider{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}} = document.getElementById("myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}");
        var output{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}} = document.getElementById("demo{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}");
        output{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}.innerHTML = slider{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}.value;

        slider{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}.oninput = function() {
        output{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}.innerHTML = this.value;}
      

        $("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").click(function(){
        $("#prendeapaga{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").toggle(500);
        if ($("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()=='On'){$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('Off');$("#statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('False');$.post("{{ url_for('set_dev') }}",{'location' : "{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'False','set_point':$("#myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()}).done(function(result) {


          if (result['status']==400) { 

            console.log(result['status'])
            
            $('#text_error_body').text('It seems like device '+result['str_id']+' in '+result['location']+' is offline');
            
            $('#connectionlostnotification').modal('show');
          }



        });}



        else{$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('On');$("#statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('True');$.post("{{ url_for('set_dev') }}",{'location' : "{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'True','set_point':$("#myRange{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()}).done(function(result) {


          if (result['status']==400) { 

            console.log(result['status'])
            
            $('#text_error_body').text('It seems like device '+result['str_id']+' in '+result['location']+' is offline');
            
            $('#connectionlostnotification').modal('show');
          }



        });};




      });
    {%else:%}

      $("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").click(function(){
        
        if ($("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val()=='On'){$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('Off');$("#statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('False');$.post("{{ url_for('set_dev') }}",{'location' : "{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'False','set_point':"None"}).done(function(result) {


          if (result['status']==400) { 

            console.log(result['status'])
            console.log(result['str_id'])
            console.log(result['location'])
            console.log('la concha de tu mama 1')
            
            $('#text_error_body').text('It seems like device '+result['str_id']+' in '+result['location']+' is offline');
          
            $('#connectionlostnotification').modal('show');
          }



        });}
        
        else

          {$("#myonoffswitch{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('On');$("#statevalue{{'-'.join(k.split(' '))}}{{'_'.join(kk.split(' '))}}").val('True');$.post("{{ url_for('set_dev') }}",{'location':"{{'-'.join(k.split(' '))}}.{{kk}}",'state': 'True','set_point': 'None'}).done(function(result) {


          if (result['status']==400) { 

            console.log(result['status'])
            console.log(result['str_id'])
            console.log(result['location'])
            console.log('la concha de tu mama')
            $('#text_error_body').text('It seems like device '+result['str_id']+' in '+result['location']+' is offline');
            
            $('#connectionlostnotification').modal('show');
          }



        });};});

    {%endif%}


    {%endfor%}
    {%endif%}
    {%endfor%}
    
});

    $("#dismiss_connection_lost_notification").click(function(){
      //$("#connectionlostnotification").hide();
      location.reload(true);
    });
  </script>
    
{% endblock %}


