{% extends "base2.html" %}
{% block app_content %}

<link rel="stylesheet" type="text/css" href="/static/DataTables/datatables.min.css"/>
 

<style type="text/css">
  
  .dataTables_length{display: none;}
  .dataTables_filter{padding-top: 10px;}
</style>

<script type="text/javascript" src="static/DataTables/datatables.min.js"></script>




        
              <table id="table_log" class='table table-striped table-bordered table-sm' >

                   <thead>
                  
                   <th class="th-sm"><center><h4><b>User</b></h4></center></th>
                  
                   <th class="th-sm"><center><h4><b>Timestamp</b></h4></center></th>
              
                   <th class="th-sm"><center><h4><b>Activity</b></h4></center></th>
                   </thead>
    <tbody>

    {% for row in logdb %}
    <tr>
        <td><center>{{ row.user }}</center></td>
            <td><center>{{ row.timestamp }}</center></td>
            <td><center>{{ row.description }}</center></td>
    </tr>
    {% endfor %}

    </tbody>

</table>

<script type="text/javascript">
  
  $(document).ready(function () {
  $('.dataTables_length').addClass('bs-select');
  $('#table_log').DataTable({"pagingType": "simple","order": [[ 1, "desc" ]]});
  
});
</script>
        

{% endblock %}