{% extends "base2.html" %}
{% block app_content %}

<form role="form" action="{{url_for('post_tests')}}" method="POST" id="form_id">
      <br>            
	<div class="form-group">
                    <label for="post_test">Post Type</label>
                          
                          <input type="text" class="form-control"  id="post_test" name="post_test">

                  <div class="form-group">
                  	<br>
                  	<button class="btn btn-primary">Post</button>
                  </div>
</form>




{% endblock %}