{% extends 'base2.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style type="text/css">
	.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%

}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
</style>
  <p>Link 1</p>
<a data-toggle="modal" data-id="ISBN564541" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#addBookDialog">test</a>

<p>&nbsp;</p>


<p>Link 2</p>
<a data-toggle="modal" data-pitu="chechona" data-pitupass="chupala" data-pitutitle="Editame el modal mabel" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#addBookDialog">test</a>


<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <center><h4 class="modal-title" id="myModalLabel"> Schedule New Event</h4></center>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form" action="{{ url_for('schedule_events') }}" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <!--  <input type="datetime-local" class="form-control" id="exampleInputEmail1" name="mail" min="" value="2014-11-16T15:25"/> -->
                      <input type="datetime-local" class="form-control" id="exampleInputEmail1" name="mail" min=""/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control"
                          id="exampleInputPassword1" name="pass" value=""/>
                          <input type="text" name="bookId" id="bookId" value=""/>
                  </div>
          
                
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Cancel
                </button>
                <button type="submit" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>

<script >
	$(document).ready(function(){
    $(".open-AddBookDialog").click(function(){
     var myBookId = $(this).data('pitu');
     var myBookIdtitle = $(this).data('pitutitle');
     var myBookIdpass = $(this).data('pitupass');
     $(".modal-body #bookId").val( myBookId );
     $(".modal-body #exampleInputPassword1").val( myBookIdpass );
     if ($("#myModalLabel").text()==' Schedule New Event'){$("#myModalLabel").text(myBookIdtitle);}
        else{$("#myModalLabel").text(" Schedule New Event"); }
     
     // As pointed out in comments, 
     // it is superfluous to have to manually call the modal.
     $('#myModalNorm').modal('show');
});});

var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
var minutes = today.getMinutes();
var hours = today.getHours();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

//today = yyyy+'-'+mm+'-'+dd;
today = yyyy+'-'+mm+'-'+dd+'T'+hours+':'+minutes;
document.getElementById("exampleInputEmail1").setAttribute("min", today);
</script>
    
{% endblock %}
