<!--https://stackoverflow.com/questions/12463896/create-div-using-jquery-and-json-data-->
{% extends "base2.html" %}
{% block app_content %}



<div class="row">
	<div id="pitu">
	<p>This is a paragraph.</p>
	<p>This is another paragraph.</p>
  <p>&&#xf244;</p>

  <i class="fa fa-battery-empty fa-lg"></i>
  <i class="fa fa-battery-half fa-lg"></i>
  <i class="fa fa-battery-full fa-lg"></i>
  <i class="fa fa-street-view fa-lg"></i>
  <i class="glyphicon glyphicon-off fa-lg"></i>

	</div>
</div>

                       <label for="deviceid">Device</label>
                      <select id="deviceid" class="form-control" >
                       
                               <option value="hola">hola</option>
                               <option type="text">hola</option>

                        
                      </select>
<label for="cars">Device</label>
<input type="text" list="cars" id="dog" name="location" value="Location" onfocus="if (this.value=='Location') this.value='';"  autocomplete="off"/>
<datalist id="cars" autocomplete="off" >
  <option data-tokens='Volvo'>Volvo</option>
  <option data-tokens='Saab'>Saab</option>
  <option data-tokens='Mercedes'>Mercedes</option>
  <option data-tokens='Audi'>Audi</option>
</datalist>

<button>Insert content after each p element</button>


<form>
  <!-- these will remember input -->
  With id: <input id="myInputId" list="myList" /><br />
  With name: <input name="myInputName" list="myList" /><br />

  <!-- these will NOT remember input -->
  No id, name, class: <input list="myList" /><br />
  With class: <input class="myInputClass" list="myList" />

  <datalist id="myList">
    <option value="pepa 1"></option>
    <option value="Option 2"></option>
  </datalist>

  <br />

  <input type="submit" />
</form>

<script>
$(document).ready(function(){
    $("button").click(function(){$.post("{{ url_for('pruebitas2') }}",{'state': 'True','set_point':'rolando'}).done(function(result) {


    
    var div = $("<div></div>")
           .attr("id", "probando");
    var a = $("<a></a>")
           .attr("href", "#")
           .text("I added this on: " + result.nombre) //esto funca tambien =)
           .attr("id", "close-note");
     $("<h1></h1>").text("I added this on: " + result.nombre)
           .appendTo(a);
     $("<p></p>").text(result.apellido)
           .appendTo(a);
     
     a.appendTo(div)
     $("#pitu").after(div);
    



});})});



</script>














{% endblock %}