<!--https://stackoverflow.com/questions/12463896/create-div-using-jquery-and-json-data-->
{% extends "base2.html" %}
{% block app_content %}

<link rel="stylesheet" type="text/css" href="/static/bootstrap-select-master/bootstrap-select-master/dist/css/bootstrap-select.min.css"/>
<script type="text/javascript" src="/static/bootstrap-select-master/bootstrap-select-master/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/bootstrap32.min.js"></script>


<select class="selectpicker" multiple >
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select>
<script type="text/javascript">

// Material Select Initialization
$(document).ready(function() {
$('.selectpicker').selectpicker();});
</script>

{% endblock %}