<!--https://stackoverflow.com/questions/10626885/passing-data-to-a-bootstrap-modal  https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_datetime-local_defaultvalue-->
{% extends 'base2.html' %}
{% block app_content %}

<link rel="stylesheet" href="/static/style_slider.css">
 <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> <!-- arregla el tema del zoom en el modal, la romi toda -->

<style type="text/css">
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%

}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background:  #337ab7;
  color: #ffffff;
}
</style>
    
    <div class="row">
      <div class="col-md-2 col-xs-2" style="padding-left:0px;">
            
            <a class="navbar-brand edit" style="font-size: 20px; display: flex;justify-content: flex-start;" id="edit"> Edit</span></a>
            
              </div>

         <div class="navbar-header col-md-8 col-xs-8" style="display: flex;justify-content: center;"> 
                
                    <a  class="navbar-brand" style="font-size: 20px;color:#333"><span class="glyphicon glyphicon-calendar"></span> {{ title}}</a>
                
         </div>

         <div class="navbar-header col-md-2 col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;"> 
                
                    <a class="navbar-brand addevent"  href="#"  style="font-size: 20px;padding-right: 0px;"><span class="glyphicon glyphicon-plus"></span></a>
                
         </div>
    </div>
<div class="alert alert-danger" role="alert" id="errormessage" style="display:none;"> Try picking another date/hour</div>

           {%if not scheduled_events :%}
            <row id="no_scheduled_events">
            <center><h2>You have no scheduled events <span class="glyphicon glyphicon-thumbs-down"></span></h2></center>
            </row>
            <div class="row">
            <table class="table" id="eventlistid">
            <tbody>
            </tbody>
            </table>
            </div>
            {%else:%}

            <row id="no_scheduled_events" style="display: none;" >
            <center><h2>You have no scheduled events <span class="glyphicon glyphicon-thumbs-down"></span></h2></center>
            </row>

<div class="row">
    <table class="table" id="eventlistid">
    <tbody>
      {%for event in scheduled_events:%}
    <tr id="tr{{event.pid}}"><td>


   
    <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 10px;">
      <row id="locstr">
        <h2 style="margin-top: 5px;margin-bottom: 5px;"> <span class="glyphicon glyphicon-minus-sign del" onclick='' style="color: #f70707;display:none;padding-right: 10px;font-size: 25px;" id="del{{event.pid}}" data-pid="{{event.pid}}"  ></span>  {{event.location}}</h2>
        <h3 style="margin-top: 10px;margin-bottom: 5px;" id="str_id_row"><span class="del" onclick='' style="display:none;padding-left: 40px;font-size: 25px;" ></span> {{event.str_id}}</h3>
      </row>

   </div>
   
   <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-right: 0px;">
    <row id="datehour">
      <h2 style="margin-top: 5px;margin-bottom: 5px;display: flex;justify-content: flex-end;">{{ ':'.join(event.event_date.split(' ')[1].split(':')[0:2])}}<span class="glyphicon glyphicon-menu-right editevent" onclick='' data-pid={{event.pid}} data-date="{{event.event_date}}" data-location="{{event.location}}" data-str_id="{{event.str_id}}" style="color: #333;font-size: 15px;display:none;" id="cont{{event.pid}}"></span> </h2>
      
      <h3 style="margin-top: 10px;margin-bottom: 5px;display: flex;justify-content: flex-end;">{%if event.event_cron != none:%}{{'-'.join(event.event_cron.split('.'))}}{%else:%} {{event.event_date.split(' ')[0]}}{%endif%}<span class="editevent" onclick=''></span></h3>
      
      <button  class="btn btn-danger btn-block delevent"  style="display: none;margin-top: 20px;" type="submit" data-title="Delete" id="cont2{{event.pid}}" data-pid="{{event.pid}}" data-toggle="modal" data-value="{{event.pid}}" ><span class="glyphicon glyphicon-trash" onclick=''></span> Delete</button> 
       </row>
   </div>

   
</tr></td>
      {%endfor%}
</tbody>
</table>
</div>

{%endif%}

<div class="modal fade" id="modaldelete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <center><h4 class="modal-title" id="titlemodaldelete"></h4></center>
            </div>

            <!-- Modal Body -->
            <div class="modal-body delmodal">

                <form role="form" action="" method="POST">
                <div class="form-group">
                      <input id="modal_delete_event" name="delete"  style="display: none;"/>
                  </div>

                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Cancel
                </button>
                <button type="button" id="delete_event" class="btn btn-danger">
                    Delete
                </button>
        </form>
                </div>



        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalschedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <center><h4 class="modal-title" id="myModalLabel">Schedule New Event</h4></center>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                    <label for="dateid">Select Day & Time</label>
                      <input type="datetime-local" class="form-control" id="dateid" name="mail"/>
                  </div>

                  <label for="divdays">Repeat</label>
                  <div class="weekDays-selector" id=divdays>
                    <input type="checkbox" id="weekday-mon" name="day" value="0" class="weekday" />
                    <label for="weekday-mon">M</label>
                    <input type="checkbox" id="weekday-tue" name="day" value="1" class="weekday" />
                    <label for="weekday-tue">T</label>
                    <input type="checkbox" id="weekday-wed" name="day" value="2" class="weekday" />
                    <label for="weekday-wed">W</label>
                    <input type="checkbox" id="weekday-thu" name="day" value="3" class="weekday" />
                    <label for="weekday-thu">T</label>
                    <input type="checkbox" id="weekday-fri" name="day" value="4" class="weekday" />
                    <label for="weekday-fri">F</label>
                    <input type="checkbox" id="weekday-sat" name="day" value="5" class="weekday" />
                    <label for="weekday-sat">S</label>
                    <input type="checkbox" id="weekday-sun" name="day" value="6" class="weekday" />
                    <label for="weekday-sun">S</label>
                  </div>


                  <div class="form-group">
                    <label for="locationid">Location</label>
                     <!-- <input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="Password"/> -->
                      <select id="locationid" class="form-control">
                        {%for location in rooms_devices.keys()|sort:%}
                          <option value="{{'_'.join(location.split(' '))}}">{{location}}</option>
                        {% endfor %}
                      </select>
                       <label for="deviceid">Device</label>
                      <select id="deviceid" class="form-control" >
                        {%for number,key in enumerate(rooms_devices.keys()|sort):%}
                        {%if number == 0:%}
                        {%for devices in rooms_devices[key]:%}
                        <option value="{{'_'.join(devices.split(' '))}}">{{devices}}</option>
                        {%endfor%}
                        {%endif%}
                        {%endfor%}
                        
                      </select>
                        
                    </div>
                    <div class="row">
                  <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                          
                         <h5 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;">Tamo Probando</h5>
                          
                  </div>

                    <div class="col-xs-6" style="display: flex;justify-content: flex-end;" >
                      <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="Off" >
                        <label class="onoffswitch-label" for="myonoffswitch"></label>
                      </div>
                    </div>
            </div>

            <div class="row" id="prendeapaga" style="display:none;padding-left: 20px;">
              <form action="" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
                <div class="form-group">
                    <input type="text" style="display:none;"  id="statevalue" name="statevalue" value="0">
                  <div class="row">
                <div class="col-xs-9">
                  <div class="slidecontainer" style="padding-top: 26px;">
                            <input type="range" min="0" max="100" step="5" value="0" class="slider" id="myRange" name="set_point">
                          </div>
              </div>
              <div class="col-xs-3" style="display: flex;justify-content: center;">
                <b><h3><span id="demo"></span>%</h3></b> 
              </div>
            </div>

              </div>
              </form>
    
            </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">
                            Cancel
                </button>
                <button type="button" class="btn btn-primary" id=submit_event>
                    Save changes
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>


 
<script >
  $(document).ready(function(){

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    var minutes = today.getMinutes();
    var hours = today.getHours();
     if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 

    //today = yyyy+'-'+mm+'-'+dd;
    today = yyyy+'-'+mm+'-'+dd+'T'+hours+':'+minutes;
    document.getElementById("dateid").setAttribute("min", today);
  
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() { output.innerHTML = this.value;}

    var dic = {
                {%for location,devices in rooms_devices.items()|sort:%}
                {%for device,item in devices.items():%} 
                '{{'_'.join(device.split(' '))}}' : '{{item.dev_type}}',

                {% endfor %}
                {% endfor %}  
              };  
    
  $("#myonoffswitch").click(function(){   if (dic[$("#deviceid").val()]== 'False'){
                                          $("#prendeapaga").toggle(500);}
                                          if ($("#myonoffswitch").val()=='On'){$("#myonoffswitch").val('Off');$("#statevalue").val('False');}
                                          else{$("#myonoffswitch").val('On');$("#statevalue").val('True');}

                                             });

  $('#locationid').change(function () {
                                        $('#deviceid').html('');
                                            {%for location,devices in rooms_devices.items()|sort:%}
                                        if($('#locationid').val()=='{{location}}'){
                                            {%for device,item in devices.items():%} 
                                        $('#deviceid').append('<option value="{{'_'.join(device.split(' '))}}">{{device}}</option>');
                                            {% endfor %}
                                        }
                                                            
                                          {% endfor %}

                                    });
  

    $("#edit").click(function(){
                                  if ($("#edit").text()==' Edit'){
                                    $("#edit").text("Done");
                                    $(".del").toggle(300);
                                    $(".editevent").toggle(300);
                                    
                                     }
                                  else{
                                    $("#edit").text(" Edit");
                                    $('.delevent').hide(300);
                                    $('.editevent').hide(300);
                                    $('.del').hide(300);} 
                                         
                                          });

    $(document).on("click","span.editevent",function(){
                                                        var date = $(this).data('date');
                                                        var location = $(this).data('location');
                                                        var str_id = $(this).data('str_id');
                                                        $("#dateid").val(date.replace(' ','T'));
                                                        $("#locationid").val(location);
                                                        $('#locationid').trigger('change');
                                                        $("#deviceid").val(str_id.replace(' ','_'));
                                                        $('#modalschedule').modal('show');}); //-->falta editar para que saque la info de la futura lista de eventos
    
    $(document).on("click","span.del",function(){
                                                  var pid = $(this).data('pid');
                                                  $("#cont2"+pid).toggle(500);
                                                  $("#cont"+pid).toggle(500);
                                                  }); //-->falta editar para que saque la info de la futura lista de eventos

    $(document).on("click","button.delevent",function(){
                                                        var pid = $(this).data('pid');
                                                        console.log(pid)
                                                        $("#modal_delete_event").attr('value',pid);
                                                        $("#titlemodaldelete").text('Are you sure you want to delete this event?');
                                                        $('#modaldelete').modal('show');});
     



       $(".addevent").click(function(){ $("#dateid").val("");
                                        $("#statevalue").val('False')
                                        $("#myonoffswitch").val('Off')   
                                        $('#modalschedule').modal('show');});

       $("#delete_event").click(function(){
                                            var pid = $("#modal_delete_event").val();
                                            console.log(pid);
                                            $.post("{{ url_for('delete_event') }}",{'event_id_to_delete':$("#modal_delete_event").val()});
                                            $('#modaldelete').modal('hide');
                                            $("#tr"+pid).remove();
                                                if ($('#eventlistid tr').length == 0 ) {
                                                  $("#no_scheduled_events").show();
                                                  $("#edit").text(" Edit");
                                                  $('.delevent').hide(500);
                                                  $('.editevent').hide(500);
                                                  $('.del').hide(500);
                                                }
                                          });
       
       
       $("#submit_event").click(function(){
                                            var selectedDay = new Array();
                                            $('input[name="day"]:checked').each(function() { selectedDay.push(this.value); });
                                            $('input[name="day"]:checked').each(function() { $('.weekday').prop('checked', false); });
                                            $.post("{{ url_for('schedule_events') }}",{'date':$("#dateid").val(),'repeat': selectedDay,'location':$("#locationid").val(),'device':$('#deviceid').val(),'state':$("#myonoffswitch").val(),'set_point':$("#myRange").val()}).done(function(result) {
                                              console.log(result)
                                              if (result['status']==200) {
                                              
   


    var father = $("<tr></tr>")
                  .attr("id","tr"+result['pid']);
    var child = $("<td></td>");
    
    var div = $("<div></div>")
           .attr("class", "col-xs-6")
           .attr("style","display: flex;justify-content: flex-start;padding-left: 10px;");
    

    var row = $("<row></row>")
    var a = $("<h2></h2>")
              .text(result['location'])
              .attr('style',"margin-top: 5px;margin-bottom: 5px;");
            
    $("<span></span>")
            .attr("class","glyphicon glyphicon-minus-sign del")
            .attr("style","color: #f70707;display:none;padding-right: 10px;font-size: 25px;")
            .attr("data-pid",result['pid'])
            .attr("onclick","")
           .prependTo(a);

    var b = $("<h3></h3>")
              .text(result['str_id'])
              .attr('style',"margin-top: 10px;margin-bottom: 5px;");


    $("<span></span>")
            .attr("class","del")
            .attr("style","display:none;padding-left: 40px;font-size: 25px;")
            .attr("onclick","")
           .prependTo(b);






     
    a.appendTo(row);
    b.appendTo(row)
    row.appendTo(div)
    div.appendTo(child);

    var div = $("<div></div>")
           .attr("class", "col-xs-6")
           .attr("style","display: flex;justify-content: flex-end;padding-right: 0px;");
    

   
    var row = $("<row></row>");
    var a = $("<h2></h2>")
            .attr("style","margin-top: 5px;margin-bottom: 5px;display: flex;justify-content: flex-end;")
            .text(result['hour']);
            
    $("<span></span>")
            .attr("class","glyphicon glyphicon-menu-right editevent")
            .attr("style","color: #333;font-size: 15px;display:none;")
            .attr("id","cont"+result['pid'])
            .attr("onclick","")
           .appendTo(a);
     a.appendTo(row);

     if (result['type']== 'cron'){
     
              var b = $("<h3></h3>")
                                  .attr("style","margin-top: 10px;margin-bottom: 5px;display: flex;justify-content: flex-end;")
                                  .text(result['cron_days'].join('-'));




            } else {

              var b = $("<h3></h3>")
                                  .attr("style","margin-top: 10px;margin-bottom: 5px;display: flex;justify-content: flex-end;")
                                  .text(result['date']);
            };
     

          $("<span></span>")
              .attr("class","editevent")
              .attr("onclick","")
              .append(b);
      b.appendTo(row);
      row.appendTo(div);


    var button =  $("<button></button")
                 .attr("class","btn btn-danger btn-block delevent")
                 .attr("id","cont2"+result['pid'])
                 .attr("style","display: none;margin-top: 20px;")
                 .attr("type","submit")
                 .attr("name","delete")
                 .attr("data-pid",result['pid'])
                 .text("Delete")
                 //.appendTo(form);

      $("<span></span>")
                        .attr("class","glyphicon glyphicon-trash")
                        .attr("onclick","")
                        .appendTo(button);
     //form.appendTo(div);
     button.appendTo(div);

     div.appendTo(child);

    child.appendTo(father)

    if ($('#eventlistid tr').length == 0 ) {
      $('#eventlistid').append(father);
      $("#no_scheduled_events").hide();

    } else {$('#eventlistid tr:last').after(father);}
  
    
  } else {$("#errormessage").fadeIn('slow').delay(2000).fadeOut('slow');};


});
        $('#modalschedule').modal('hide');
        $("#prendeapaga").attr('display','none');
        $("#myRange").val('0')
        output.innerHTML = 0;  
        if ($("#myonoffswitch").val()=='On'){$("#myonoffswitch").val('Off');$("#statevalue").val('False');$("#myonoffswitch").click()}

        });

       $("#cancel").click(function(){
        $('input[name="day"]:checked').each(function() { $('.weekday').prop('checked', false); });
        $("#prendeapaga").attr('display','none');
        $("#myRange").val('0')
        output.innerHTML = 0;   
        if ($("#myonoffswitch").val()=='On'){$("#myonoffswitch").val('Off');$("#statevalue").val('False');$("#myonoffswitch").click()}
        });



});


 
     
</script>



    
{% endblock %}


