<!--https://stackoverflow.com/questions/10626885/passing-data-to-a-bootstrap-modal  https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_datetime-local_defaultvalue-->
{% extends 'base2.html' %}
{% block app_content %}

<link rel="stylesheet" href="/static/style_slider.css">

<style type="text/css">
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%

}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background:  #337ab7;
  color: #ffffff;
}
</style>
    
    <div class="row">
      <div class="col-md-2 col-xs-2" style="padding-left:0px;">
            
            <a class="navbar-brand" style="font-size: 20px; display: flex;justify-content: flex-start;" id="edit"> Edit</span></a>
            
              </div>

         <div class="navbar-header col-md-8 col-xs-8" style="display: flex;justify-content: center;"> 
		     	
		            <a  class="navbar-brand" style="font-size: 20px;color:#333"><span class="glyphicon glyphicon-calendar"></span> {{ title}}</a>
		        
		 </div>

		 <div class="navbar-header col-md-2 col-xs-2" style="display: flex;justify-content: flex-end;padding-right: 0px;"> 
		     	
		            <a class="navbar-brand addevent"  href="#"  style="font-size: 20px;padding-right: 0px;"><span class="glyphicon glyphicon-plus"></span></a>
		        
		 </div>
    </div>

<div class="row">
	<table class="table" id="eventlistid">
    <tbody>
      {%for event in scheduled_events:%}
    <tr><td>
   
    <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 10px;">
     <h1> <span class="glyphicon glyphicon-minus-sign del" style="color: #f70707;display:none;padding-right: 10px;font-size: 25px;" id="del{{event.pid}}"></span>  {{event.event_date}}</h1>
    
   </div>
   <div class="col-xs-6" style="display: flex;justify-content: flex-end;padding-right: 0px;">
   <h1 style="margin-top: 10px;"><span class="glyphicon glyphicon-menu-right editevent" href="#" style="color: #333;font-size: 15px;display:none;" id="cont{{event.pid}}"></span> </h1>



    <form action="" method="POST" ><button  class="btn btn-danger btn-block delevent" Onclick="return ConfirmDelete();" id="cont2{{event.pid}}" style="display: none;margin-top: 20px;" type="submit" value ="" name="delete" ><span class="glyphicon glyphicon-trash"></span> Delete</button> </form>
   
   </div>
</tr></td>
      {%endfor%}
</tbody>
</table>
</div>


<!-- Modal -->
<div class="modal fade" id="modalschedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 60px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <center><h4 class="modal-title" id="myModalLabel">Schedule New Event</h4></center>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form" action="" method="POST" id="form_id">
                  <div class="form-group">
                    <label for="dateid">Select Day & Time</label>
                      <input type="datetime-local" class="form-control" id="dateid" name="mail"/>
                  </div>

                  <label for="divdays">Repeat</label>
                  <div class="weekDays-selector" id=divdays>
                    <input type="checkbox" id="weekday-mon" name="day" value="mon" class="weekday" />
                    <label for="weekday-mon">M</label>
                    <input type="checkbox" id="weekday-tue" name="day" value="tue" class="weekday" />
                    <label for="weekday-tue">T</label>
                    <input type="checkbox" id="weekday-wed" name="day" value="wen" class="weekday" />
                    <label for="weekday-wed">W</label>
                    <input type="checkbox" id="weekday-thu" name="day" value="thu" class="weekday" />
                    <label for="weekday-thu">T</label>
                    <input type="checkbox" id="weekday-fri" name="day" value="fri" class="weekday" />
                    <label for="weekday-fri">F</label>
                    <input type="checkbox" id="weekday-sat" name="day" value="sat" class="weekday" />
                    <label for="weekday-sat">S</label>
                    <input type="checkbox" id="weekday-sun" name="day" value="sun" class="weekday" />
                    <label for="weekday-sun">S</label>
                  </div>


                  <div class="form-group">
                    <label for="locationid">Location</label>
                     <!-- <input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="Password"/> -->
                      <select id="locationid" class="form-control">
                        {%for location in rooms_devices.keys()|sort:%}
                          <option value="{{'_'.join(location.split(' '))}}">{{location}}</option>
                        {% endfor %}
                      </select>
                       <label for="deviceid">Device</label>
                      <select id="deviceid" class="form-control">
                        {%for number,key in enumerate(rooms_devices.keys()|sort):%}
                        {%if number == 0:%}
                        {%for devices in rooms_devices[key]:%}
                        <option value="{{'_'.join(devices.split(' '))}}">{{devices}}</option>
                        {%endfor%}
                        {%endif%}
                        {%endfor%}
                        
                      </select>
                        
                    </div>
                    <div class="row">
                  <div class="col-xs-6" style="display: flex;justify-content: flex-start;padding-left: 15px;">
                          
                         <h5 id="textoreloco" style="vertical-align: text-top;margin-top: 5px;">Tamo Probando</h5>
                          
                  </div>

                    <div class="col-xs-6" style="display: flex;justify-content: flex-end;">
                      <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" value="Off" >
                        <label class="onoffswitch-label" for="myonoffswitch"></label>
                      </div>
                    </div>
            </div>

            <div class="row" id="prendeapaga" style="display:none;padding-left: 20px;">
              <form action="" method="POST" style="padding-left: 15px;"> <!---On submit, send the form-data to a file named "/setparameters" (to process the input):-->
                <div class="form-group">
                    <input type="text" style="display:none;"  id="statevalue" name="statevalue" value="0">
                  <div class="row">
                <div class="col-xs-9">
                  <div class="slidecontainer" style="padding-top: 26px;">
                            <input type="range" min="0" max="100" step="5" value="0" class="slider" id="myRange" name="set_point">
                          </div>
              </div>
              <div class="col-xs-3" style="display: flex;justify-content: center;">
                <b><h3><span id="demo"></span>%</h3></b> 
              </div>
            </div>

              </div>
              </form>
    
            </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel">
                            Cancel
                </button>
                <button type="button" class="btn btn-primary" id=submit_event>
                    Save changes
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>


 
<script >
  $(document).ready(function(){

var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
var minutes = today.getMinutes();
var hours = today.getHours();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 

//today = yyyy+'-'+mm+'-'+dd;
today = yyyy+'-'+mm+'-'+dd+'T'+hours+':'+minutes;
document.getElementById("dateid").setAttribute("min", today);
  
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() { output.innerHTML = this.value;}
    $("#myonoffswitch").click(function(){
          $("#prendeapaga").toggle(500);
        if ($("#myonoffswitch").val()=='On'){$("#myonoffswitch").val('Off');$("#statevalue").val('False');}
        else{$("#myonoffswitch").val('On');$("#statevalue").val('True');}

           });

  $('#locationid').change(function () {
    $('#deviceid').html('');
      {%for location,devices in rooms_devices.items()|sort:%}
        if($('#locationid').val()=='{{location}}'){
         {%for device in devices:%} 
        $('#deviceid').append('<option value="{{'_'.join(device.split(' '))}}">{{device}}</option>');
         {% endfor %}
    }
                        

      {% endfor %}

});

    $("#edit").click(function(){

        if ($("#edit").text()==' Edit'){
          $("#edit").text("Done");
          $(".del").toggle(500);
          //$("#del2").toggle(500);
          $(".editevent").toggle(500); }
        else{
          $("#edit").text(" Edit");
          $('.delevent').hide(500);
          $('.editevent').hide(500);
          $('.del').hide(500);} 
               
                });

    $(".editevent").delegate("span","click",function(){$("#dateid").val("");$('#modalschedule').modal('show');}); // NO ANDAAAAA
      {%for event in scheduled_events:%}
       $("#del{{event.pid}}").click(function(){$("#cont2{{event.pid}}").toggle(500);$("#cont{{event.pid}}").toggle(500);});
       {%endfor%}
       $(".addevent").click(function(){$("#dateid").val("");$('#modalschedule').modal('show');});
       
       //$(".editevent").click(function(){$("#dateid").val("");$('#modalschedule').modal('show');}); //-->falta editar para que saque la info de la futura lista de eventos
       
       $("#submit_event").click(function(){

        var selectedDay = new Array();
        $('input[name="day"]:checked').each(function() { selectedDay.push(this.value); });
        $('input[name="day"]:checked').each(function() { $('.weekday').prop('checked', false); });
        $.post("{{ url_for('schedule_events') }}",{'date':$("#dateid").val(),'repeat': selectedDay,'location':$("#locationid").val(),'device':$('#deviceid').val(),'state':$("#myonoffswitch").val(),'set_point':$("#myRange").val()}).done(function(result) {



     var father = $("<tr></tr>");
     var child = $("<td></td>");
    
    var div = $("<div></div>")
           .attr("class", "col-xs-6")
           .attr("style","display: flex;justify-content: flex-start;padding-left: 10px;");
    var a = $("<h1></h1>").text("dd/mm/yy");
            
     $("<span></span>")
            .attr("class","glyphicon glyphicon-minus-sign del")
            .attr("style","color: #f70707;display:none;padding-right: 10px;font-size: 25px;")
            .attr("id","esteyalovamoaave")
           .prependTo(a);



     
     a.appendTo(div);
     div.appendTo(child);

     var div = $("<div></div>")
           .attr("class", "col-xs-6")
           .attr("style","display: flex;justify-content: flex-end;padding-right: 0px;");
    var a = $("<h1></h1>")
            .attr("style","margin-top: 10px;");
            
    $("<span></span>")
            .attr("class","glyphicon glyphicon-menu-right editevent")
            .attr("style","color: #333;font-size: 15px;display:none;")
            .attr("id","esteyalovamoaavetambien")
            .attr("href","#")
           .appendTo(a);
     a.appendTo(div);

     var form = $("<form></form>")
     .attr("action","")
     .attr("method","POST");
     

    var button =  $("<button></button")
     .attr("class","btn btn-danger btn-block delevent")
     .attr("id","jesusabra")
     .attr("style","display: none;margin-top: 20px;")
     .attr("type","submit")
     .attr("name","delete")
     .attr("value","")
     .text("Delete")
     .appendTo(form);

      $("<span></span>")
            .attr("class","glyphicon glyphicon-trash")
           .appendTo(button);
     form.appendTo(div);

     div.appendTo(child);

    child.appendTo(father)
     $('#eventlistid tr:last').after(father); //$('#myTable').append('<tr><td>my data</td><td>more data</td></tr>'); por si no hay ningun tr habra que ver
    



});
        $('#modalschedule').modal('hide');
        $("#prendeapaga").attr('display','none');
        $("#myRange").val('0')
        output.innerHTML = 0;  
        $("#myonoffswitch").val('Off')  
        $("#statevalue").val('False')
        $("#myonoffswitch").click()

        });

       $("#cancel").click(function(){
        $('input[name="day"]:checked').each(function() { $('.weekday').prop('checked', false); });
        $("#prendeapaga").attr('display','none');
        $("#myRange").val('0')
        output.innerHTML = 0;   
        $("#myonoffswitch").val('Off')   
        $("#statevalue").val('False')
        $("#myonoffswitch").click()
        });

  function ConfirmDelete(username){
        return confirm("Are you sure you want to delete this event?");}


});


 
     
</script>



    
{% endblock %}


